include /_include/_mixin.pug

doctype html
html(lang="ja")
  head
    include /_include/_head.pug

  body
    .l-wrapper
      include /_include/_header.pug


      main.l-cont





        article.storesZone#access
          include /_index_cont/_stores.pug



        article.contactZone
          include /_index_cont/_contact.pug





      include /_include/_footer.pug

