include /_include/_mixin.pug

doctype html
html(lang="ja")
  head
    include /_include/_tag.pug
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='content-script-type', content='text/javascript')
    meta(http-equiv='content-script-type', content='text/css')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover')
    title 店舗一覧 | グッドライフジム（GOODLIFEGYM）定額通い放題のマンツーマン、セミパーソナルトレーニングジム
    meta(name='description', content=desc)
    meta(name='keywords', content='')
    // OGs
    +og("site_name", siteTitle)
    +og("title", title)
    +og("description", desc)
    +og("type", (layer == "top" ? "website" : "article"))
    +og("url", (layer == "top" ? siteUrl : siteUrl + pageUrl))
    +og("image", ogImgPath)
    // /OGs
    +css("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
    script(src="https://sdk.form.run/js/v2/formrun.js")
    script(src="https://www.google.com/recaptcha/api.js")
    +cssCommon("style.css?202106")
    +jsCommon("jquery-1.11.1.min.js")
    +jsCommon("slick.min.js")
    +jsCommon("jquery.colorbox-min.js")
    +jsCommon("common.js?2022-3")


  body.pageStores
    .l-wrapper
      include /_include/_header.pug
    .pageStore
      img.ttlEn(src="./img/ttl.svg", alt="STORE")

      .inner
        h1.ttl 店舗一覧

        nav.pageNav
          ul
            li: a(href="#tokyo") 東京都
            li: a(href="#saitama") 埼玉県
            li: a(href="#chiba") 千葉県
            li: a(href="#kanagawa") 神奈川県
            li: a(href="#shizuoka") 静岡県
            li: a(href="#fukuoka") 福岡県


        a.scrlPos#tokyo(name="tokyo")
        section
          h2 東京都
          ul
            li
              h3 渋谷区
              ul
                li: a(href="/yoyogi") 代々木店
                li: a(href="/sendagaya") 千駄ヶ谷店
                li: a(href="/ebisu") prime恵比寿広尾店
            li
              h3 品川区
              ul
                li: a(href="/togoshikouen") 戸越公園店
            li
              h3 新宿区
              ul
                li: a(href="/nishishinjuku") 西新宿五丁目店
                li: a(href="/nakai") 中井駅前店
                li: a(href="/ochiaiminami/") 落合南長崎店
            li
              h3 杉並区
              ul
                li: a(href="/daitabashi") 代田橋店
            li
              h3 中野区
              ul
                li: a(href="/nakanoarai") 中野店
                li: a(href="/nogata") 中野野方店
            li
              h3 大田区
              ul
                li: a(href="/omorisano") 大森山王店
                li: a(href="/odakuikegami") 大田区池上店
            li
              h3 北区
              ul
                li: a(href="/jujo") 十条店
            li
              h3 文京区
              ul
                li: a(href="/hongosanchome") 本郷三丁目店
                li: a(href="/kasuga") 春日後楽園店
                li: a(href="/honkomagome") 本駒込店
            li
              h3 中央区
              ul
                li: a(href="/higashinihonbashi") 東日本橋店
            li
              h3 江東区
              ul
                li: a(href="/kiba") 木場店
            li
              h3 台東区
              ul
                li: a(href="/shinokachimachi") 新御徒町店
                li: a(href="/taitoiriya") 台東入谷店
                li: a(href="/asakusa") 浅草店
            li
              h3 荒川区
              ul
                li: a(href="/minamisenju") 南千住駅前店
            li
              h3 墨田区
              ul
                li: a(href="/skytree") 東京スカイツリー前店
                li: a(href="/higashimukoujima/") 東向島店
            li
              h3 葛飾区
              ul
                li: a(href="/nishikameari") 綾瀬店
            li
              h3 足立区
              ul
                li: a(href="/kitasenju") 北千住店
                li: a(href="/gotanno") 五反野店
                li: a(href="/rokucho") 六町店
                li: a(href="/nishiarai") 西新井大師店
                li: a(href="/adachikouhoku") 足立江北店
                li: a(href="/umejima") 梅島店


        a.scrlPos#saitama(name="saitama")
        section
          h2 埼玉県
          ul
            li
              ul
                li: a(href="/kitakoshigaya") 北越谷店


        a.scrlPos#chiba(name="chiba")
        section
          h2 千葉県
          ul
            li
              ul
                li: a(href="/kashiwa/") 柏店
                li: a(href="/inage") 稲毛海岸店
                li: a(href="/chibachuo") 千葉中央店


        a.scrlPos#kanagawa(name="kanagawa")
        section
          h2 神奈川県
          ul
            li
              ul
                li: a(href="/odawara") 小田原店
                li: a(href="/odawarahigashi/") 小田原駅東口店
                li: a(href="/odawaracityhall") 小田原市役所前店
                li: a(href="/kozu") 小田原国府津店
                li: a(href="/kaisei") 開成店
                li: a(href="/hiratsuka_akashicho") 平塚明石町店

        a.scrlPos#shizuoka(name="shizuoka")
        section
          h2 静岡県
          ul
            li
              ul
                li: a(href="/shizuoka_surugaku") 静岡駿河店


        a.scrlPos#fukuoka(name="fukuoka")
        section
          h2 福岡県
          ul
            li
              ul
                li: a(href="/jonanbeppu") 城南別府店
                li: a(href="/fukuoka_ohashi") 福岡大橋店


  include /_include/_footer.pug

