include /_include/_mixin.pug
//.fixBtn
  .pc 
    +img("line_pc.png")
  .sp
    a(href="http://nav.cx/ew6wavf") 
      +img("line_sp.png")
footer
  .l-footer 
    .in
      .footLogo
        +img("logo_blue.png")
      dl.company
        dt 会社名　　
        dd  合同会社GOODLIFE​
        dt 設立　　
        dd  2021年1月12日
        dt 代表者　　
        dd  鈴木　涼太​
        dt 所在地　　
        dd  東京都渋谷区代々木３－４６－１６小野木ビル６０７
        dt ​資本金　　
        dd  1,000,000円
        dt  事業内容　　
        dd  フィットネスクラブ経営

                

  .copyright Copyright（C）Good life gym. All Rights Reserved.


  
// Meta Pixel Code
script.
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '424779469346305');
  fbq('track', 'PageView');
noscript
  img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=424779469346305&ev=PageView&noscript=1')
// End Meta Pixel Code


