
include /_include/_mixin.pug
//.fixBtn
  .pc 
    +img("line_pc.png")
  .sp
    a(href="http://nav.cx/ew6wavf") 
      +img("line_sp.png")
footer
  .l-footer 
    .in
      .footLogo
        +img("main/logo.png")
      ul 
        li #[a(href="/yoyogi/") 代々木店]：151-0053 東京都渋谷区代々木３－４６－１６​小野木ビル６０７号室
        li #[a(href="/sendagaya/") 千駄ヶ谷店]：151-0051 東京都渋谷区千駄ヶ谷1-28-8 ニュー千駄ヶ谷マンション地下005
        li #[a(href="/nogata/") 中野野方店]：165-0027 東京都中野区野方2-23-5 ルース中野B1階
        li #[a(href="/higashinihonbashi/") 東日本橋店]​：103-0001 東京都中央区日本橋小伝馬町14-10 宮本ビル3階
        li #[a(href="/tairoiriya/") 台東入谷店]：110-0012 東京都台東区竜泉1-25-1
        li #[a(href="/asakusa/") 浅草店]：111-0032 東京都台東区浅草６－４７－５​永井ビル1階
        li #[a(href="/skytree/") 東京スカイツリー前店]：131-0033 東京都墨田区向島3-31-8 レイコービル201
        li #[a(href="/gotanno/") 五反野店]：120-0013 東京都足立区弘道2-13-1
        li #[a(href="/nishiarai/") 西新井大師店]：123-0841 東京都足立区西新井6-23-24 1階
        li #[a(href="/chibachuo/") 千葉中央店]：260-0013 千葉県千葉市中央区中央3-13-1富士屋ビル2階
        li #[a(href="/inage/") 稲毛海岸店]：261-0004 千葉県千葉市美浜区高洲3-14-3 ドレミビル1階
        li #[a(href="/odawara/") 小田原店]：250-0012 神奈川県小田原市本町1-10-26 ベルジェント小田原城址公園101
        li #[a(href="/kitasenju/") 北千住店]：120-0026 東京都足立区千住旭町２２−４ もつ焼きやまぴー2階
        li #[a(href="/higashimukoujima/") 東向島店]：31-0032 東京都墨田区墨田1-15-15 ライオンズプラザ東向島102
        li #[a(href="/ochiaiminami/") 落合南長崎店]：161-0032 東京都新宿区中落合3-29-12 第5新栄ビル102
                

  .copyright Copyright（C）Good life gym. All Rights Reserved.


  
// Meta Pixel Code
script.
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '424779469346305');
  fbq('track', 'PageView');
noscript
  img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=424779469346305&ev=PageView&noscript=1')
// End Meta Pixel Code
