include /_include/_mixin.pug

// Google Tag Manager (noscript)
noscript
  iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-P36PRNS' height='0' width='0' style='display:none;visibility:hidden')
// End Google Tag Manager (noscript)

header.l-header 
  .logo 
    a(href="/")
      +img("logo_tenpo.png?v2")
  .spBtn.sp
  nav 
    ul.menu
      //li: a(href="/") HOME
      li.row: a(href="/#about") GOODLIFE GYM#[sup ®]について
      li.row: a(href="/#price") 料金のご案内
      li.row: a(href="/trainer/") トレーナー紹介
      li.row: a(href="/media/") メディア掲載
      li.hasChild #[span 店舗紹介]
        .child
          ul
            li: a(href="/yoyogi") 代々木店
            li: a(href="/sendagaya") 千駄ヶ谷店
            li: a(href="/nogata") 中野野方店
            li: a(href="/nakanoarai") 中野新井店
            li: a(href="/nishishinjuku") 西新宿店
            li: a(href="/nakai") 中井駅前店
            li: a(href="/ochiaiminami/") 落合南長崎店
            li: a(href="/higashinihonbashi") 東日本橋店
            li: a(href="/taitoiriya") 台東入谷店
            li: a(href="/asakusa") 浅草店
            li: a(href="/skytree") 東京スカイツリー前店
            li: a(href="/higashimukoujima/") 東向島店
            li: a(href="/kitasenju") 北千住店
            li: a(href="/gotanno") 五反野店
            li: a(href="/nishiarai") 西新井大師店
            li: a(href="/adachikouhoku") 足立江北店
            li: a(href="/omorisano") 大森山王店
            li: a(href="/kashiwa/") 柏店
            li: a(href="/chibachuo") 千葉中央店
            li: a(href="/inage") 稲毛海岸店
            li: a(href="/odawarahigashi/") 小田原駅東口店
            li: a(href="/odawara") 小田原店
            li: a(href="/kozu") 国府津店
            li: a(href="/kitakoshigaya") 北越谷店
      li.row: a(href="/recruit") 採用情報
    ul.sns
      li: a(href="https://www.instagram.com/goodlife_gym_personal/" target="_blank")
        +img("instagram.svg")
      li: a(href="https://www.youtube.com/channel/UCsR_vKoJ8_eY7K6FY-IYjvw?view_as=subscriber" target="_blank")
        +img("youtube.svg")
      li: a(href="https://twitter.com/goodlife_gym_" target="_blank")
        +img("twitter.svg")