.u-enTxt STORES 
.stores 
  dl.yoyogi
    dt 代々木店
    dd 営業時間：平日9:00-22:00 #[br.pc]土日祝10:00-18:00#[br]定休日：第2日曜・第4水曜日
      .btn
        a(href="/yoyogi/") 代々木店の詳細へ
  dl.sendagaya
    dt 千駄ヶ谷店#[br]
    dd 営業時間：平日9:00-22:00 #[br.pc]土日祝10:00-18:00#[br]定休日：月曜日
      .btn
        a(href="/sendagaya/") 千駄ヶ谷店​の詳細へ
  dl.nakano
    dt 中野野方店#[br]
    dd 営業時間：平日9:00-22:00 #[br.pc]土日祝10:00-18:00#[br]定休日：水曜日
      .btn
        a(href="/nogata/") 中野野方店の詳細へ
  dl.nihonbashi
    dt 東日本橋店​
    dd 営業時間：平日9:00-22:00 #[br.pc]土日祝10:00-18:00#[br]定休日：第2土曜・第2日曜日
      .btn
        a(href="/higashinihonbashi/") 東日本橋店​の詳細へ
  dl.taito
    dt 台東入谷店#[br]
    dd 営業時間：平日9:00-22:00 #[br.pc]土日祝10:00-18:00#[br]定休日：水曜日
      .btn
        a(href="/taitoiriya/") 台東入谷店の詳細へ
.stores 
  dl.asakusa
    dt 浅草店​
    dd 営業時間：平日9:00-22:00 #[br.pc]土日祝10:00-18:00#[br]定休日：第4土曜・第4日曜日
      .btn
        a(href="/asakusa/") 浅草店​の詳細へ
  dl.skytree
    dt 東京スカイツリー前店#[br]
    dd 営業時間：平日9:00-22:00 #[br.pc]土日祝10:00-18:00#[br]定休日：月曜日
      .btn
        a(href="/skytree/") 東京スカイツリー前店の詳細へ
  dl.gotanno
    dt 五反野店#[br]
    dd 営業時間：平日9:00-22:00 #[br.pc]土日祝10:00-18:00#[br]定休日：日曜日
      .btn
        a(href="/gotanno/") 五反野店の詳細へ
  dl.nishiarai
    dt 西新井大師店#[br]
    dd 営業時間：平日9:00-22:00 #[br.pc]土日祝10:00-18:00#[br]定休日：日曜日
      .btn
        a(href="/nishiarai/") 西新井大師店の詳細へ
  dl.chibac
    dt 千葉中央店#[br]
    dd  営業時間：平日9:00-22:00　#[br.pc]土祝10:00-18:00#[br]定休日：水曜日、日曜日
      .btn
        a(href="/chibachuo/") 千葉中央店の詳細へ
.stores 
  dl.inage
  
    dt 稲毛海岸店
    dd  営業時間：平日9:00-22:00　 #[br.pc]土日祝9:00-18:00#[br]定休日：水曜
      .btn
        a(href="/inage/") 稲毛海岸店​の詳細へ
  dl.odawara
    dt 小田原店#[br]
    dd 営業時間：平日9:00-22:00 #[br.pc]土日祝10:00-18:00#[br]定休日：日曜日
      .btn
        a(href="/odawara/") 小田原店の詳細へ
  dl.kitasenju
    dt 北千住店
    dd 営業時間：平日9:00-22:00 #[br.pc]土日祝10:00-18:00#[br]定休日：金曜日
      .btn
        a(href="/kitasenju/") 北千住店の詳細へ
  dl.higashimukoujima
    dt 東向島店#[br]8月オープン予定
    dd 営業時間：未定 #[br]定休日：未定
      .btn
        a(href="/higashimukoujima/") 東向島店の詳細へ
  dl.ochiaiminami
    dt 落合南長崎店#[br]8月オープン予定
    dd 営業時間：未定 #[br]定休日：未定
      .btn
        a(href="/ochiaiminami/") 落合南長崎店の詳細へ