include /_include/_mixin.pug

.u-enTxt store
.u-inner
  h2.u-ttl1 店舗のご案内&お問い合わせ
.storeArea
  ul
    li
      a(href="/yoyogi/") 
        .s-pic: +img("store/ph01.jpg")
        .s-name 代々木店
    li
      a(href="/sendagaya/")
        .s-pic: +img("store/ph02.jpg")
        .s-name 千駄ヶ谷店
    li
      a(href="/nogata/")
        .s-pic: +img("store/ph03.jpg")
        .s-name 代々中野野方店
    li
      a(href="/higashinihonbashi/")
        .s-pic: +img("store/ph04.jpg")
        .s-name 東日本橋店
    li
      a(href="/taitoiriya/")
        .s-pic: +img("store/ph05.jpg")
        .s-name 台東入谷店
    li
      a(href="/asakusa/")
        .s-pic: +img("store/ph06.jpg")
        .s-name 浅草店
    li
      a(href="/skytree/")
        .s-pic: +img("store/ph07.jpg")
        .s-name 東京#[br]スカイツリー前店
    li
      a(href="/gotanno/")
        .s-pic: +img("store/ph08.jpg")
        .s-name 五反野店
    li
      a(href="/nishiarai/")
        .s-pic: +img("store/ph09.jpg")
        .s-name 西新井大師店
    li
      a(href="/chibachuo/")
        .s-pic: +img("store/ph10.jpg")
        .s-name 千葉中央店
    li
      a(href="/inage/")
        .s-pic: +img("store/ph11.jpg")
        .s-name 稲毛海岸店
    li
      a(href="/odawara/")
        .s-pic: +img("store/ph12.jpg")
        .s-name 小田原店
    li
      a(href="/kitasenju/")
        .s-pic: +img("store/ph13.jpg")
        .s-name 北千住店
    li
      a(href="/higashimukoujima/").coming
        .s-pic.coming: +img("store/ph00.png")
        .s-name 東向島店#[br]8月オープン#[br.sp]予定
    li
      a(href="/ochiaiminami/").coming
        .s-pic.coming: +img("store/ph00.png")
        .s-name 落合南長崎店#[br]8月オープン#[br.sp]予定
    li
      a(href="/odawarahigashi/").coming
        .s-pic.coming: +img("store/ph00.png")
        .s-name 小田原駅東口店#[br]8月オープン#[br.sp]予定
    li
      a(href="/kashiwa/").coming
        .s-pic.coming: +img("store/ph00.png")
        .s-name 柏店#[br]9月オープン#[br.sp]予定


