.u-enTxt ABOUT
.u-inner
  h2 GOODLIFE  GYM#[sup ®]について
  .mainBox
    .img
      .ph
        +img("about/ph_trainer.jpg?v2")
      //a(href="/trainer/") トレーナーのご紹介はこちら
    .txt
      h3 『フィットネスを当たり前の日常に』

      p 仕事や遊びの予定に追われ、健康でいることを先送りにしていませんか？#[br]日々のパフォーマンスUPには健康なカラダが不可欠です。健康なカラダがあるからこそ仕事に全力を注ぐことができて、全力で遊びも楽しむことができる。GOODLIFE GYMでは、毎日通っても飽きずに楽しめるトレーニングメソッドを提供し、皆様の日常にフィットネスがあることが当たり前と思えるような環境作りに励んでいます。#[br]GOODLIFE GYMでフィットネスの日常化から始まるGOODLIFE(より良い人生)を体感してください。
      .keizokuBox
        span.keizoku: +img("about/keizoku.png")
        h3 半年以内の退会率は#[br.sp]１０％以下。
        p 大手フィットネスクラブの継続率は半年で３０％だと言われております。理想のカラダを目指しジム通いを始めたのに僅か半年で７０％の方々が諦めてしまっている。やり方がわからない。効果がでない。楽しくない。諦める理由は様々ありますが、私たちは一度諦めた方々の課題解決をし続け、半年間の継続率９０％を達成しております。
    //.movieBox
      +mov("ChkGlVPZVOw")
    


  .aboutBox
    h3.taC ボディメイク成功の鍵。#[br]正しいやり方で#[br.sp]楽しく長く続けること。
    ul
      li.slides
        .img.ph1
          .movieBox2
            +img("about/ph0.jpg?2021-2")
            
        .txt.s2
          h3   #[span 初心者に優しく、]#[br]#[span 中〜上級者でも満足できる]#[br]#[span セミパーソナルトレーニング]

          p 最大4名を同時に指導するセミパーソナルトレーニング。#[br]初心者の方でも安心して通っていただけるようにトレーナー陣が個人の目的やレベルに合ったトレーニングを丁寧に1人1人指導いたします。通われている方のトレーニング歴や年齢性別はバラバラですが、トレーニングを楽しみに通っている方ばかりで部活のような一体感があり、今まで1人では諦めていた方でも長く継続できる環境です。#[br]初めての方が基礎的なトレーニングを練習している横で、長く通われている方が限界まで追い込まれていたり、ジムで出会い仲良くなった方同士お互いに鼓舞し合いトレーニングに励んでいる場面もGOODLIFE GYMならではの光景です。
      li.slides.reverse
        .img.ph2
          +img("about/ph1.jpg?2021-2")
        .txt
          h3 #[span 長く続けてほしいから低価格。]#[br]#[span 定額通い放題プランで]#[br]#[span 回数気にせず何度も通える。]
          p 月額定額14,800円〜の格安料金プランで始めやすく半年継続率は90％以上。通い放題プランは追加課金無しで毎日通えるためフィットネスの日常化をより加速できます。
      //li.slides
        .img.ph3
          +img("about/ph4.png")
        .txt.last
          h3  #[span 3.無理な食事制限や糖質制限は行いません]
          p 食事を極端に減らしても脂肪と共に筋肉まで失います。#[br]そして、痩せにくく太りやすいカラダになりリバウンド。。。#[br]当ジムでは長期的なダイエット・ボディメイクを推奨し、リバウンドせずに痩せやすいカラダをつくることに特化した食事法とトレーニングを伝授します！
      //li.slides.reverse
        .img.ph4
          +img("about/ph2.png?202109")
        .txt
          h3  #[span 4.正しいやり方をトレーナーが指導]
          p   自身もボディメイクを実践しているトレーナー陣があなたに最適化したプランでボディメイク成功へと導きます。
