.u-enTxt ABOUT
.u-inner
  h2 GOODLIFE  GYMについて
  .mainBox
    .img
      +pic("about/ph_main.png","about/ph_main_sp.png")
    .txt
      h3 トレーニングを日常化することで、健康的に理想のカラダを手に入れる。そして、理想のカラダを得た自信と共により良い人生を送りましょう。
      p 仕事や家事、遊びの予定に追われ、健康でいることを先送りにしていませんか？#[br]健康なカラダであるからこそ仕事に全力を注ぐことができるし、遊びも全力で楽しむことができる。#[br.pc]日常生活のパフォーマンスUPに健康なカラダが不可欠です。
      .keizokuBox
        span.keizoku: +img("about/keizoku.png")
        h3 半年以内の退会率は#[br.sp]１０％以下。
        p 大手フィットネスクラブの継続率は半年で３０％だと言われております。理想のカラダを目指しジム通いを始めたのに僅か半年で７０％の方々が諦めてしまっている。やり方がわからない。効果がでない。楽しくない。諦める理由は様々ありますが、私たちは一度諦めた方々の課題解決をし続け、半年間の継続率９０％を達成しております。
    //.movieBox
      +mov("ChkGlVPZVOw")
    


  .aboutBox
    h3 ボディメイク成功の4つの鍵。#[br]正しいやり方で#[br]楽しく長く続けること。
    ul
      li.slides
        .img.ph1
          .movieBox2
            +mov("OJHTV5iRYQo")
            p セミパーソナルの様子はこちらの動画をご覧ください
        .txt.s2
          h3   #[span 1.一緒に頑張る仲間と出会える]#[br]#[span セミパーソナルトレーニング]

          p 最大4名を同時指導するセミパーソナルトレーニングが人気。#[br]カラダを変えたいという同じ目標を持った会員さん達との繋がりができて通う楽しみが生まれます！メニューも初心者向けで基礎からしっかりボディメイクを学べます。
      li.slides.reverse
        .img.ph2
          +img("about/ph1.png")
        .txt
          h3 #[span 2.長く続けられる価格帯]
          p 月額定額14,800円〜の続けやすい低価格。#[br]一般的なパーソナルジムの1/5以下の価格でボディメイクをスタートできます！マンツーマンプランとセミパーソナルプランから、あなたに合ったプランをお選びいただけます。
      li.slides
        .img.ph3
          +img("about/ph4.png")
        .txt.last
          h3  #[span 3.無理な食事制限や糖質制限は行いません]
          p 食事を極端に減らしても脂肪と共に筋肉まで失います。#[br]そして、痩せにくく太りやすいカラダになりリバウンド。。。#[br]当ジムでは長期的なダイエット・ボディメイクを推奨し、リバウンドせずに痩せやすいカラダをつくることに特化した食事法とトレーニングを伝授します！
      li.slides.reverse
        .img.ph4
          +img("about/ph2.png?202104")
        .txt
          h3  #[span 4.正しいやり方をトレーナーが指導]
          p   自身もボディメイクを実践しているトレーナー陣があなたに最適化したプランでボディメイク成功へと導きます。
