.u-enTxt ABOUT
.u-inner
  .movieBox
    +mov("cQn_HzSZZec")
  
  .aboutBox
    h2 GOODLIFE  GYMについて
    ul
      li.slides
        .img.ph1
          +img("about/ph1.png")
        .txt
          h3  #[span 初心者から始めるボディメイク​]
          p   理想のボディをもつあの人も初心者から始めている。#[br]当ジムの全トレーナーは、笑顔もボディも輝く現役ボディコンテスト選手ですが、トレーナーの多くは、元々太っていたり運動神経が悪いなどのコンプレックスからボディメイクをスタートさせた経歴をもち、初心者に優しい指導を得意としています。#[br]初めてで不安なあなたへ寄り添い、全力でサポートします！！
      li.reverse.slides
        .img.ph2
          +img("about/ph2.png")
        .txt
          h3   #[span 低価格の定額通い放題プランで​]#[br]#[span 続けやすい]

          p ダイエット・ボディメイク成功の秘訣は、#[br]正しいやり方で長く続けること！#[br]トレーナーがいないスポーツジムに通っていても、#[br]正しいやり方で続けないとカラダに変化があらわれにくい。#[br]低価格でトレーナー指導が受けられる！#[br]​しかも、通い放題で何回受けても定額です！！#[br]マンツーマンプランとグループプランからお選びいただけます。
      li.slides
        .img.ph3
          +img("about/ph3.png")
        .txt
          h3 #[span グループセッションならさらに]#[br]#[span 低価格でトレーナー指導が受けられる]
          p 最大４人同時指導のセミパーソナルトレーニングも人気！#[br]理想のボディはみんな違うけど、変わりたいと思う気持ちはみんな同じ。​周りの頑張りが見えることで自分も頑張りたくなる。#[br]ひとりじゃなくて一緒にやるから頑張れる！#[br]筋トレ仲間も作れます！
      li.reverse.slides
        .img.ph4
          +img("about/ph4.png")
        .txt.last
          h3  #[span 無理な食事制限や]#[br]#[span 糖質制限は行いません]
          p 食事を極端に減らしても脂肪と共に筋肉まで失います。#[br]そして、痩せにくく太りやすいカラダになりリバウンド。。。#[br]当ジムでは長期的なダイエット・ボディメイクを推奨し、リバウンドせずに痩せやすいカラダをつくることに特化した食事法とトレーニングを伝授します！
