.u-enTxt FAQ
.u-inner
  h2.u-ttl1 よくあるご質問

  dl
    dt 会員になると他の店舗も利用できますか？
    dd 通い放題プランの方は週一回まで他店舗をご利用できます。#[br]週1プランの方は登録店舗のみのご利用です。#[br]登録店舗の変更可能です。

  dl
    dt セミパーソナルで周りについていけるか心配。#[br.sp]初心者でも大丈夫ですか？
    dd 当ジムに入会される方の9割が初心者スタートです。性別年齢問わず多くの方がご参加されており、トレーナーが個々のレベルに合わせてメニューを組んでいくのでご安心ください！
  dl
    dt 本当に定額で通い放題？
    dd 毎月定額の会費のみで追加料金は一切かかりません。高額の短期集中型パーソナルジムが多い中、長く続けられるパーソナルジムを目指しております！
  dl
    dt 1回のトレーニング時間は？
    dd マンツーマンパーソナル50分。セミパーソナル40分。開始10分前から入室可能です。
  dl
    dt 予約の方法は？
    dd 初回体験#[br.sp]→問い合わせフォーム#[br]#[br.sp]ご入会後#[br.sp]→会員様専用ご予約WEBサイト#[br.sp]※当日予約可能、当日キャンセルペナルティ無し
  dl
    dt 予約は取りやすいですか？
    dd 店舗毎に会員数を限定しておりますので、会員のみなさまが平等にご予約をお取りいただけます。週4-5日で通う会員様も多くいらっしゃいます！
  dl
    dt 初回体験時の持ち物は？
    dd ・動きやすいウエア#[br]・室内シューズ(無料レンタルシューズあり)#[br]・タオル#[br]・水
  dl
    dt 当日予約や当日キャンセルは可能ですか？料金はかかりますか？
    dd 当日予約、当日キャンセル可能です。ペナルティなど料金もかかりません。



    




















