.u-enTxt FAQ
.u-inner
  h2.u-ttl1 よくあるご質問

  dl
    dt パーソナルジムって何をするんですか？
    dd プロのトレーナーがマンツーマンで担当するので、その人の身体や目的に合わせた効率的なトレーニングを行います。食事のコントロールからモチベーション管理までサポートしてくれるので、一人では出来なかったダイエットやトレーニングが可能です。
  dl
    dt QQQQQ
    dd AAAAA
  dl
    dt QQQQQ
    dd AAAAA
  dl
    dt QQQQQ
    dd AAAAA
  dl
    dt QQQQQ
    dd AAAAA
  dl
    dt QQQQQ
    dd AAAAA
  dl
    dt QQQQQ
    dd AAAAA