.u-inner
  dl
    dt CAMPAIGN
    dd #[strong ４月末まで初回体験の方限定（全店舗共通）] #[br.sp]初回体験当日のご入会で#[br]
      span ①入会金30,000円→#[em 10,000円]#[br]
      span ②セミパ週１回14,800→#[em 3か月間9,800円]#[br]
      span セミパ通い放題19,800円→#[em 3か月間14,800円]#[br]
      span マンツーマン週１回24,800円→#[em 3か月間19,800円]#[br]
      span マンツーマン通い放題34,800円→#[em 3か月間29,800円]#[br]
      //
        .box 
          strong 浅草店限定(4月末まで) #[br.sp]
          em 無料２週間トライアル実施中！#[br]
          span ・完全無料で２週間パーソナル通い放題#[br]
          span ・トライアル後のご入会で上記キャンペーン適用
  .img
    +pic("information/mask.png","information/mask_sp.png","")