.u-inner
  dl
    dt CAMPAIGN
    dd #[strong 【全店舗共通】体験当日ご入会で初期費用が２万円お得に！] 
      p #[b ・入会金割引]#[br]
        span 　入会金30,000円→#[em 10,000円]#[br]
      //span ②セミパ週１回14,800→#[em 3か月間9,800円]#[br]
      //span セミパ通い放題19,800円→#[em 3か月間14,800円]#[br]
      //span マンツーマン週１回24,800円→#[em 3か月間19,800円]#[br]
      //span マンツーマン通い放題34,800円→#[em 3か月間29,800円]#[br]
      
      .box  #[strong 【北千住店】【柏店】【大森山王】オープニングキャンペーン！] 
        p
          em ◉無料体験実施中！#[br]
          span 　体験料3,000円→#[em 無料]#[br]
        p
          em ◉体験当日ご入会で初期費用が３万円お得に！#[br]
          b ・入会金割引#[br]
          span 　入会金30,000円→#[em 10,000円]#[br]
          b ・初月会費割引#[br]
          span 　セミパ週１回14,800→#[em 4,800円]#[br]
          span 　セミパ通い放題19,800円→#[em 9,800円]#[br]
          span 　マンツーマン週１回24,800円→#[em 14,800円]#[br]
          span 　マンツーマン通い放題34,800円→#[em 24,800円]#[br]
      

  .movieBox
    h2 セミパーソナルの様子はこちらの動画をご覧ください
    +mov("OJHTV5iRYQo")
    .img
      +pic("information/mask.png","information/mask_sp.png","")
      
      