.mainInner
  .u-inner
    h1 定額通い放題のマンツーマン、セミパーソナル#[br]トレーニングジム（代々木・東日本橋・浅草）
      span: +img("main/logo.png","GOOD LIFE GYM（グッドライフジム）")
    p
      span.txt1  定額通い放題・初心者も安心の
      span.txt2  パーソナルトレーニングジム