.mainInner
  .u-inner
    h1 定額通い放題のマンツーマン、#[br]セミパーソナルトレーニングジム
      span: +img("main/logo.png?v2","GOOD LIFE GYM（グッドライフジム）")
    p
      span.txt1  定額通い放題・初心者も安心の
      span.txt2  パーソナルトレーニングジム
      span.txt3  #[em GOODLIFE GYM®]
    
dl.featureTxt
  dt ＼関東16店舗！累計会員数2,000名様突破！／
  dd 
    ul 
      li 運動初心者歓迎
      li ご夫婦・ご友人#[br]同士歓迎
      li 当日予約・#[br]キャンセルOK