.u-enTxt COLUMN
.u-inner
  h2.u-ttl1 コラム

  .noteBox
    a(href="https://note.com/goodlifegym/n/n8010a04fbb39" target="_blank")
      .img
        img(src="https://assets.st-note.com/production/uploads/images/71079095/rectangle_large_type_2_8582ff862b2a0609e6c6d8a7ce2f4bc4.jpeg?width=800")
        .day 2021年12月28日UP
        p  ボディメイク成功者の声！会員さまインタビュー

    a(href="https://note.com/goodlifegym/n/n7233807439da" target="_blank")
      .img
        img(src="https://assets.st-note.com/production/uploads/images/64809557/rectangle_large_type_2_c56ccb983d20282b9b94a846d28b325e.jpeg?width=800")
        .day 2021年11月2日UP
        p  トレーニングがもたらす心身への効果とは！？


















