.u-enTxt PRICE
.u-inner
  h2.u-ttl1 料金のご案内
  p スケジュールに合わせて通い放題・週1プランからご選択いただけます。
  .planArea
    ul.tabName
      li.is-active 通い放題プラン
      li 週１プラン
    .planBox
      .contWrap
        ul.planList
          li
            h3 セミパ通い放題
            span.monthly 月額#[em 19,800]円（税込）
            p.recommend セミパーソナルトレーニング#[br]通い放題
            span.note ※学生の方は学割価格でご利用いただけます。（月額#[em 14,800]円税込み）
          li
            h3 マンツーマン通い放題
            span.monthly 月額#[em 29,800]円（税込）
            p.recommend マンツーマンパーソナル#[br]トレーニング通い放題
            p.recommend トレーニング後のプロテイン付
          li
            h3 フルタイム通い放題
            span.monthly 月額#[em 39,800]円（税込）
            p.recommend マンツーマンパーソナル#[br]トレーニング通い放題
            p.recommend セミパーソナルトレーニング#[br]通い放題
            p.recommend トレーニング後のプロテイン付
        span.planNote ＊月の途中でのご入会も可能です。(例)４月２０日ご入会の場合、４月２１日～５月２０日を１ヶ月として計算いたします。
        .tableBox
          table
            tr
              th カウンセリング＆初回体験料　
              td 3,000円
            tr
              th 入会金・登録料 
              td #[span.price 3,000円]#[em 入会金無料キャンペーン中！！]
            tr
              th トレーニング時間　
              td マンツーマンパーソナル５０分、セミパーソナル４０分#[br]当日予約可/当日キャンセル可
            tr
              th 毎月のお支払い方法
              td 銀行振込またはクレジットカード（VISA/master/AMEX/JCB/Diners/Discover)
