.u-enTxt PRICE
.u-inner
  h2.u-ttl1 ​料金のご案内
  p スケジュールに合わせて通い放題・週1プランからご選択いただけます。
  .planArea
    .planBox
      .contWrap.is-active
        ul.planList
          li
            h3 セミパ通い放題
            span.monthly 月額#[em 19,800]円(税込)

            p.recommend セミパーソナルトレーニング#[br]通い放題#[br]【他店舗相互利用可能】
            
          li
            h3 セミパ週１回
            span.monthly 月額#[em 14,800]円(税込)
            p.recommend セミパーソナルトレーニング#[br]週１回（月４～５回分）​​
          li
            h3 マンツーマン通い放題
            span.monthly 月額#[em 34,800]円(税込)
            p.recommend マンツーマンパーソナル#[br]トレーニング通い放題#[br]【他店舗相互利用可能】
          li
            h3 マンツーマン週１回
            span.monthly 月額#[em 24,800]円(税込)
            p.recommend マンツーマン#[br]パーソナルトレーニング#[br]週１回（月４～５回分）
        span.planNote ＊ご入会日より1ヶ月以内でプラン開始日をお選びいただけます#[br]＊月の途中からのプラン開始も可能です#[br](例)4/20ご入会の場合、4/21〜5/20の期間内でプラン開始日をお選びいただけます
        
      .tableBox
        table
          tr
            th カウンセリング＆初回体験料
            td 3,000円　
          tr
            th 入会金・登録料
            td #[span.price 30,000円] → #[em 【キャンペーン中】初回体験当日のご入会で入会金10,000円]
          tr
            th 毎月のお支払い方法
            td 銀行振込またはクレジットカード#[small (VISA/master/AMEX/JCB/Diners/Discover)]
              .notes ※稲毛海岸と千葉中央は口座振替またはクレジットカードとなります。
