
article.recruitMain.b0#recruit
  .u-enTxt RECRUIT
  .u-inner
    h2.u-ttl1 採用情報
    ul.joblist 
      li: a(href="https://fitness-salon.com/detail-job/1322" target="_blank") 
        .img: +img("jobs_im01.jpg","")
        .txt 
          h3 【月収40万以上可能！！】【経験者優遇/週3日〜OK】店舗拡大に伴いトレーナーを大募集！お洒落自由な環境で働きながら私達とキャリアアップを目指しませんか！？
          dl 
            dt 業務委託
            dd 新卒歓迎
            dd 学生歓迎
            
      li: a(href="https://fitness-salon.com/detail-job/1323" target="_blank") 
        .img: +img("jobs_im02.jpg","")
        .txt 
          h3 【独立支援制度/昇給あり！】《月収 40万以上可能》マネージャー経験者歓迎◎店舗拡大に伴い管理職として働ける方を募集しております！
          dl 
            dt 業務委託
            dd 新卒歓迎