.u-enTxt STORES 
.stores 
  dl.yoyogi
    dt 代々木店
    dd マンツーマンパーソナル#[br]男性女性利用可/セミパーソナル#[br]男性女性利用可#[br]営業時間：平日9:00～22:00#[br]土日祝10:00～17:00　不定休
      .btn
        a(href="./yoyogi/") 代々木店の詳細はこちら
  dl.nihonbashi
    dt 東日本橋店​
    dd マンツーマンパーソナル#[br]男性女性利用可/セミパーソナル#[br]男性女性利用可#[br]営業時間：平日9:00～22:00#[br]土日祝10:00～17:00　不定休
      .btn
        a(href="./nihonbashi/") 東日本橋店​の詳細はこちら
  dl.asakusa
    dt 浅草店​
    dd マンツーマンパーソナル#[br]男性女性利用可/セミパーソナル#[br]男性女性利用可#[br]営業時間：平日9:00～22:00#[br]土日祝10:00～17:00　不定休
      .btn
        a(href="./asakusa/") 東日本橋店​の詳細はこちら