.u-enTxt STORES 
.stores 
  dl.yoyogi
    dt 代々木店
    dd 営業時間：平日9:00～22:00#[br]土日祝10:00-18:00　不定休
      .btn
        a(href="/yoyogi/") 代々木店の詳細はこちら
  dl.nihonbashi
    dt 東日本橋店​
    dd 営業時間：平日9:00～22:00#[br]土日祝10:00～17:00#[br]定休日：第2土曜・第2日曜
      .btn
        a(href="/higashinihonbashi/") 東日本橋店​の詳細はこちら
  dl.asakusa
    dt 浅草店​
    dd 営業時間：平日9:00～22:00#[br]土日祝10:00～17:00#[br]定休日：第4土曜・第4日曜
      .btn
        a(href="/asakusa/") 浅草店​の詳細はこちら