.u-enTxt TRAINER
.u-inner
  h2.u-ttl1 ​トレーナー紹介

.trainerBox.box2
  .col 
    .ph
      +img("trainer/ph02.png?v4")
      +img("trainer/ph02-2.png?v4","","cov")
    h3.taC #[span ユウタ]#[br]東日本橋店メイントレーナー
    
  .col 
    .ph
      +img("trainer/ph_taitou2.jpg?2021062")
      +img("trainer/ph_taitou2-2.jpg?2021062","","cov")
    h3.taC #[span タクヤ]#[br]スーパーバイザー#[br]広報担当
  .col 
    .ph
      +img("trainer/ph_yoyogi.png?v2")
      +img("trainer/ph_yoyogi-2.png?v2","","cov")
    h3.taC #[span コウタ]#[br]スーパーバイザー#[br]アスレティックトレーナー#[br]柔道整復師
  .col 
    .ph
      +img("trainer/ph04.png?2022")
      +img("trainer/ph04-2.png?2022","","cov")
    h3.taC #[span ケンジ]#[br]スーパーバイザー
  .col 
    .ph
      +img("trainer/ph_inage.png?2021062")
      +img("trainer/ph_inage-2.png?2021062","","cov")
    h3.taC #[span ショウゴ]#[br]稲毛海岸店メイントレーナー
  .col 
    .ph
      +img("trainer/ph_inage2.jpg?2021062")
      +img("trainer/ph_inage2-2.jpg?2021062","","cov")
    h3.taC #[span ユリ]#[br]稲毛海岸店トレーナー
  .col 
    .ph
      +img("trainer/ph06.png?v3")
      +img("trainer/ph06-2.png?v3","","cov")
    h3.taC #[span ヒロアキ]#[br]千駄ヶ谷店メイントレーナー
  .col 
    .ph
      +img("trainer/ph_skytree-2.png?2021062")
      +img("trainer/ph_skytree.png?2021062","","cov")
    h3.taC #[span アツヒロ]#[br]スカイツリー前店メイントレーナー
  .col 
    .ph
      +img("trainer/ph_nishiarai.png?2021062")
      +img("trainer/ph_nishiarai-2.png?2021062","","cov")
    h3.taC #[span ヒロキ]#[br]西新井大師店メイントレーナー#[br]保健体育教員
  .col 
    .ph
      +img("trainer/ph11-1.png?20210622")
      +img("trainer/ph11-2.png?2021062","","cov")
    h3.taC #[span シュン]#[br]落合南長崎店メイントレーナー#[br]
  .col 
    .ph
      +img("trainer/ph09.png?2021062")
      //+img("trainer/ph09-2.png?2021062","","cov")
    h3.taC #[span リュウキ]#[br]小田原店,小田原駅東口店メイントレーナー#[br]保健体育教員
  .col 
    .ph
      +img("trainer/ph_yuta_02.jpg?2021062")
      +img("trainer/ph_yuta_01.jpg?2021062","","cov")
    h3.taC #[span ユウタ]#[br]大森山王店メイントレーナー
  .col 
    .ph
      +img("trainer/ph_masaki_02.jpg?2021062")
      +img("trainer/ph_masaki_01.jpg?2021062","","cov")
    h3.taC #[span マサキ]#[br]大森山王店トレーナー
  .col 
    .ph
      +img("trainer/ph_chibac.png?2021062")
      +img("trainer/ph_chibac-2.png?2021062","","cov")
    h3.taC #[span ナオユキ]#[br]千葉中央店メイントレーナー
  .col 
    .ph
      +img("trainer/ph_taitou.png?2021062")
      +img("trainer/ph_taitou-2.png?2021062","","cov")
    h3.taC #[span トモヒロ]#[br]台東入谷店メイントレーナー
  .col 
    .ph
      +img("trainer/ph_gotanno.jpg?2021062")
      +img("trainer/ph_gotanno-2.jpg?2021062","","cov")
    h3.taC #[span タイシ]#[br]五反野店メイントレーナー#[br]理学療法士
  .col 
    .ph
      +img("trainer/ph10-1.png?20210622")
      +img("trainer/ph10-2.png?2021062","","cov")
    h3.taC #[span ダイチ]#[br]北千住店メイントレーナー#[br]
  .col 
    .ph
      +img("trainer/ph03.png?202104")
      +img("trainer/ph03-2.png?202104","","cov")
    h3.taC #[span リュウト]#[br]スーパーバイザー#[br]中野野方店メイントレーナー

  .col 
    .ph
      +img("trainer/ph_yoyogi2.jpg?v2")
      +img("trainer/ph_yoyogi2-2.jpg?v2","","cov")
    h3.taC #[span キョウヘイ]#[br]代々木店トレーナー
  .col 
    .ph
      +img("trainer/ph08.png?20210622")
      +img("trainer/ph08-2.png?2021062","","cov")
    h3.taC #[span ノリ]#[br]シニアマネージャー
  .col 
    .ph
      +img("trainer/skytree-ph1-1.png?20210622")
      +img("trainer/skytree-ph1-2.png?2021062","","cov")
    h3.taC #[span シュウ]#[br]東京スカイツリー前店トレーナー
  .col 
    .ph
      +img("trainer/mukojima-ph1.png?20210622")
      +img("trainer/mukojima-ph2.png?2021062","","cov")
    h3.taC #[span アツヒロ]#[br]東向島店トレーナー
  .col 
    .ph
      +img("trainer/ph_kousuke_02.jpg?2021062")
      +img("trainer/ph_kousuke_01.jpg?2021062","","cov")
    h3.taC #[span コウスケ]#[br]東向島店トレーナー
  .col 
    .ph
      +img("trainer/ph-asakusa2-1.png?20210622")
      +img("trainer/ph-asakusa2-2.png?2021062","","cov")
    h3.taC #[span ゴウ]#[br]浅草店トレーナー
  .col 
    .ph
      +img("trainer/gotanda-ph1.png?20210622")
      +img("trainer/gotanda-ph2.png?2021062","","cov")
    h3.taC #[span エリック]#[br]五反野店トレーナー
  .col 
    .ph
      +img("trainer/taito-ph2-1.png?20210622")
      +img("trainer/taito-ph2-2.png?2021062","","cov")
    h3.taC #[span ナオキ]#[br]台東入谷店トレーナー
  .col 
    .ph
      +img("trainer/sendagaya-ph1.png?20210622")
      +img("trainer/sendagaya-ph2.png?2021062","","cov")
    h3.taC #[span モリヒコ]#[br]千駄ヶ谷店トレーナー
  .col 
    .ph
      +img("trainer/ph-asakusa1.png?20210622")
      +img("trainer/ph-asakusa2.png?2021062","","cov")
    h3.taC #[span ユウサク]#[br]浅草店トレーナー
  .col 
    .ph
      +img("trainer/ph_nakano1.jpg?20210622")
      +img("trainer/ph_nakano2.jpg?2021062","","cov")
    h3.taC #[span リュウ]#[br]中野野方店トレーナー
  .col 
    .ph
      +img("trainer/odawara-2-1.png?20210622")
    h3.taC #[span リョウタ]#[br]小田原店,小田原駅東口店トレーナー
  .col 
    .ph
      +img("trainer/odawara-3-1.png?20210622")
    h3.taC #[span ショウゴ]#[br]小田原店,小田原駅東口店トレーナー
  .col 
    .ph
      +img("trainer/noga-ph2-1.png?20210622")
      +img("trainer/noga-ph2-2.png?2021062","","cov")
    h3.taC #[span カイセイ]#[br]中野野方店トレーナー
  .col 
    .ph
      +img("trainer/kashiwa-ph1.png?20210622")
      +img("trainer/kashiwa-ph2.png?2021062","","cov")
    h3.taC #[span マサ]#[br]柏店トレーナー
  .col 
    .ph
      +img("trainer/ph-nishiarai2-1.png?20210622")
      +img("trainer/ph-nishiarai2-2.png?2021062","","cov")
    h3.taC #[span フミヤ]#[br]西新井大師店トレーナー
  .col 
    .ph
      +img("trainer/ph-asakusa3-1.png?20210622")
      +img("trainer/ph-asakusa3-2.png?2021062","","cov")
    h3.taC #[span ジェイソン]#[br]浅草店トレーナー