.u-enTxt TRAINER
.u-inner
  h2.u-ttl1 ​トレーナー紹介
  .trainerBox
    .col.img 
      +img("trainer/ph01.png")
      a(href="https://www.youtube.com/embed/ev5Zad9mdus").ytCBox.btn 代表密着インタビューはこちら
    .col.txt 
      h3  GOODLIFE GYM 代表#[br]代々木店トレーナー #[span リョウタ]
      p サラリーマンとして過ごしていた２０代。仕事のストレスから解放されるために暴飲暴食を続けていた。３０歳を機に、たるんだお腹を改善するために近所のジムで筋トレを始めるが、なかなか理想のカラダに近づけない。いつも通り諦めそうになっていた時、初めてパーソナルトレーニングを受ける機会に恵まれた。そして、目的に向けた正しいアプローチで理想のカラダに近づけていくボディメイクの楽しさに気づき、多くの人に伝えていきたいと自らトレーナーに転身しGOODLIFE GYMを立ち上げた。#[br]ボディコンテストにも挑戦中。(JBBFフィジーク入賞・NPCJフィジーク入賞)
  .trainerBox
    .col 
      +img("trainer/ph02.png")
      h3.taC 東日本橋店代表トレーナー #[br]#[span ユウタ]
    .col 
      +img("trainer/ph03.png")
      h3.taC 浅草店代表トレーナー  #[br]#[span XXXX]