.u-enTxt TRAINER
.u-inner
  h2.u-ttl1 ​トレーナー紹介
  .trainerBox
    .col.img 
      .ph
        +img("trainer/ph01-2.png?202104")
        +img("trainer/ph01.png?202104","","cov")
      
    .col.txt 
      h3  #[span リョウタ]#[br]GOODLIFE GYM 代表 
      p 太っていた会社員時代30歳でトレーニングを始め20kgのダイエットに成功。正しい方法で理想のカラダになっていく楽しさを多くの人に伝えたいとの思いから３２歳でフリーパーソナルトレーナーに転身し、GOODLIFE GYMを開業。会社経営者、トレーナー、ボディコンテスト選手として幅広く活動中。
      a(href="https://www.youtube.com/embed/qlA9k2imJN4").ytCBox.btn 代表密着インタビューはこちら

  .trainerBox
    .col 
      .ph
        +img("trainer/ph02.png?202104")
        +img("trainer/ph02-2.png?202104","","cov")
      h3.taC #[span ユウタ]#[br]東日本橋店メイントレーナー
    .col 
      .ph
        +img("trainer/ph03.png?202104")
        +img("trainer/ph03-2.png?202104","","cov")
      h3.taC #[span リュウト]#[br]代々木店メイントレーナー
    .col 
      .ph
        +img("trainer/ph04.png?202104")
      h3.taC #[span ケンジ]#[br]浅草店メイントレーナー