.u-enTxt VOICE
.u-inner
  h2.u-ttl1 お客様の声
  p GOODLIFE GYMをご利用いただき、厳しい食事制限なしで#[em 理想のカラダ]を実現した会員様の声をご紹介します。
.voiceBox
  ul
    li
      .img: +img("voice/ph01-1.png")
      p セミパーソナルに通い劇的変化。#[br]トレーニングの習慣化と我慢しない#[br]バランスの取れた食事管理方法を#[br]身につけてリバウンドなし！
    li
      .img: +img("voice/ph01-2.png")
      p 細身の体型からガッシリした体型に。#[br]セミパーソナルとマンツーマンを#[br]使い分けながら鍛えたカラダは#[br]まだまだ進化中です！

    li
      a(href="https://www.youtube.com/embed/cQn_HzSZZec").ytCBox 
        .img: +img("voice/ph01.png")
        p GOODLIFE GYM会員さまの声#[br]『忙しい、だからこの場所にいく』#[br]（1分動画）
    li
      a(href="https://www.youtube.com/embed/ev5Zad9mdus").ytCBox 
        .img: +img("voice/ph02.png")
        p GOODLIFE GYM 会員さまの声#[br]『自分の健康は自分で守る』#[br]（1分動画）
    li
      .img: +img("voice/ph03.png")
      p 大学生から通っており、好きなものを#[br]食べながら楽しくボディメイク！#[br]5か月でお腹周りが超スッキリ！！！#[br]​社会人となり忙しい今でも通ってます！
    li
      .img: +img("voice/ph04.png")
      p 始めて８か月で１０㎏以上の減量に大成功！#[br]現在では、夏に目立つカッコいい#[br]ボディラインを作るために#[br]日々トレーニングに励んでいます！
    li
      .img: +img("voice/ph05.png")
      p 産後ダイエットでなんと２か月で６㎏のダイエットに成功！！#[br]無理な食事制限は一切せずに、育児の忙しさから#[br]崩れた食生活を整え、適度なトレーニングを続けた結果です！
    
    