.fixBtn
  .pc 
    +img("line_pc.png")
  .sp
    a(href="http://nav.cx/ew6wavf") 
      +img("line_sp.png")
footer
  .l-footer 
    .in
      .footLogo
        +img("main/logo.png")
      ul 
        li #[a(href="/yoyogi/") 代々木店]：151-0053 東京都渋谷区代々木３－４６－１６​小野木ビル６０７号室
        li #[a(href="/higashinihonbashi/") 東日本橋店]​：103-0001 東京都中央区日本橋小伝馬町14-10 宮本ビル3階
        li #[a(href="/asakusa/") 浅草店]：111-0032 東京都台東区浅草６－４７－５​永井ビル1階

  .copyright Copyright（C）Good life gym. All Rights Reserved.


  