header.l-header 
  .logo 
    a(href="/")
      +img("logo_tenpo.png")
  .spBtn.sp
  nav 
    ul.menu
      //li: a(href="/") HOME
      li: a(href="/#about") GOODLIFE GYMについて
      li: a(href="/#price") 料金のご案内
      li: a(href="#contact") お問い合わせ
      li: a(href="/yoyogi") 代々木店
      li: a(href="/higashinihonbashi") 東日本橋店
      li: a(href="/asakusa") 浅草店
    ul.sns
      li: a(href="https://www.instagram.com/goodlife_gym_personal/" target="_blank")
        +img("instagram.svg")
      li: a(href="https://www.youtube.com/channel/UCsR_vKoJ8_eY7K6FY-IYjvw?view_as=subscriber" target="_blank")
        +img("youtube.svg")
      li: a(href="https://twitter.com/goodlife_gym_" target="_blank")
        +img("twitter.svg")