include /_include/_mixin.pug

doctype html
html(lang="ja")
  head
    include /_include/_tag.pug
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='content-script-type', content='text/javascript')
    meta(http-equiv='content-script-type', content='text/css')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover')
    title メディア掲載情報 | グッドライフジム（GOODLIFEGYM）定額通い放題のマンツーマン、セミパーソナルトレーニングジム
    meta(name='description', content=desc)
    meta(name='keywords', content='')
    // OGs
    +og("site_name", siteTitle)
    +og("title", title)
    +og("description", desc)
    +og("type", (layer == "top" ? "website" : "article"))
    +og("url", (layer == "top" ? siteUrl : siteUrl + pageUrl))
    +og("image", ogImgPath)
    // /OGs
    +css("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
    script(src="https://sdk.form.run/js/v2/formrun.js")
    script(src="https://www.google.com/recaptcha/api.js")
    +cssCommon("style.css")
    +jsCommon("jquery-1.11.1.min.js")
    +jsCommon("slick.min.js")
    +jsCommon("jquery.colorbox-min.js")
    +jsCommon("common.js?2022-3")

  body.pageStores
    .l-wrapper
      include /_include/_header.pug
      h1.ttl  メディア掲載情報
      main.l-cont
        .u-inner.mediaList
          p.lead GOODLIFE GYMのメディア掲載情報です。
          include /_index_cont/_media.pug

        article.storesZone#access
          include /_index_cont/_stores.pug

          
      include /_include/_footer.pug

