include /_include/_mixin.pug

doctype html
html(lang="ja")
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-8MLD0Z0N3G")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'G-8MLD0Z0N3G');
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-P36PRNS');
    // End Google Tag Manager

    include /_include/_head.pug

  body.pageStores
    .l-wrapper
      include /_include/_header.pug


      main.l-cont

        article.trainerZone
          .u-enTxt TRAINER
          h2.u-ttl1 ​トレーナー紹介

          //.trainerBox.box2#app
            template(v-for="(item, index) in posts")
              .col
                .ph
                  img(v-bind:src="item.acf.photo1", loading="lazy")
                  img.cov(v-bind:src="item.acf.photo2", loading="lazy")
                h3.taC
                  span {{item.title.rendered}}
                  div(v-html="item.content.rendered")

        
        article.renew_2023 
          section.top 
            .fist_im: +pic("trainer/renew2023/fist_im.jpg","trainer/renew2023/fist_im_sp.jpg", "")
            h2.big GOODLIFE GYMは#[br.sp]様々な経歴を持つ#[br]トレーナーたちによって#[br.sp]運営されております。
            p ボディビルコンテスト入賞者から、柔道整復師、理学療法士、アスレティックトレーナーなど、#[br.pc]GOODLIFEGYMには様々なバックグラウンドを持つ個性豊かなトレーナーが在籍しています。#[br.pc]多様性がもたらす相乗効果により多様なニーズにお応えできるパーソナルジムを目指しております。
          section.education
            .in_st
              .fl_it 
                .img: +img("trainer/renew2023/edct_im01.jpg","")
                .txt
                  .t_txt
                    h2.bor 充実のトレーナー教育制度で
                    span.like_bor 高い専門性と接客スキルを保持
                  p スポーツ専門学校講師や国家資格保有者による専門#[br.pc]スキルの勉強会や接客スキル向上のため#[br.pc]ミーティングを定期的に行い、#[br.pc]サービスのアップデートに日々励んでおります。
              ul 
                li: +img("trainer/renew2023/edct_im02.jpg","")
                li: +img("trainer/renew2023/edct_im03.jpg","")
                li: +img("trainer/renew2023/edct_im04.jpg","")
          section.introduction
            .ct 
              h2 教育部門紹介
              .box 
                ul 
                  li 
                    .img: +img("trainer/renew2023/intro_im01.jpg", "")
                    h3 森 恒太
                    .next_ttl ストレングス&コンディショニング実践指導責任者
                    p 保有資格
                    span ・日本スポーツ協会公認 アスレティックトレーナー#[br]・柔道整復師
                  li 
                    .img: +img("trainer/renew2023/intro_im02.jpg", "")
                    h3 中川 健二
                    .next_ttl ファンクショナルトレーニング実践指導責任者
                    p 保有資格
                    span ・日本ストレングス＆コンディショニング協会認定NSCA-CPT#[br]・日本トレーニング指導者協会認定JATI-ATI#[br]・健康運動実践指導者
                  li 
                    .img: +img("trainer/renew2023/intro_im03.jpg", "")
                    h3 吉澤 彰峻
                    .next_ttl トレーナー教育部門責任者
                    p 保有資格
                    span ・全米エクササイズ＆スポーツトレーナー協会認定 NESTA-PFT
                  li 
                    .img: +img("trainer/renew2023/intro_im04.jpg", "")
                    h3 小田 拓哉
                    .next_ttl 運営管理部門責任者#[br]人事担当#[br]広報担当

          section.history 
            h2: +img("trainer/renew2023/history_ttl.svg","HISTORY")
            table 
              tr 
                th 2019年8月
                td GOODLIFE GYM創業。#[br]第1号店を代々木にオープン。
              tr 
                th 2020年8月
                td 創業2期目より多店舗展開を開始。
              tr 
                th 2023年現在
                td 30店舗出店達成。
          
          section.concept 
            .concept_ct 
              h2: +img("trainer/renew2023/concept_ttl.svg","CONCEPT")
              .next_t フィットネスを日常に
              ul 
                li
                  .img: +img("trainer/renew2023/vision_txt.svg","VISION")
                  p 全国120店舗出店#[br]フィットネス市場拡大
                li
                  .img: +img("trainer/renew2023/mission_txt.svg","MISSION")
                  p 縁あるすべての人が#[br]輝くステージを創造する
                li
                  .img: +img("trainer/renew2023/value_txt.svg","VALUE")
                  dl 
                    dt professional：#[br.sp]得意を見つけ得意を磨き続ける
                    dt think big：#[br.sp]大きな夢を持ち豊かな創造性を持つ
                    dt go for mine,got to shine：#[br.sp]輝くために無我夢中に努力する

          section.bot 
            p (運営代表)#[br]GOODLIFE GYM創業者#[br]鈴木　涼太#[br]起業家、パーソナルトレーナー、フィジーク コンペティター
            .img: +img("trainer/renew2023/bot_im.jpg","")


        //article.storesZone#access
          include /_index_cont/_stores.pug


      include /_include/_footer.pug
      

