include /_include/_mixin.pug

doctype html
html(lang="ja")
  head
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-8MLD0Z0N3G")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'G-8MLD0Z0N3G');
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='content-script-type', content='text/javascript')
    meta(http-equiv='content-script-type', content='text/css')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover')
    title 東日本橋店 | グッドライフジム（GOODLIFEGYM）定額通い放題のマンツーマン、セミパーソナルトレーニングジム
    meta(name='description', content=desc)
    meta(name='keywords', content='')
    // OGs
    +og("site_name", siteTitle)
    +og("title", title)
    +og("description", desc)
    +og("type", (layer == "top" ? "website" : "article"))
    +og("url", (layer == "top" ? siteUrl : siteUrl + pageUrl))
    +og("image", ogImgPath)
    // /OGs
    +css("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
    script(src="https://sdk.form.run/js/v2/formrun.js")
    script(src="https://www.google.com/recaptcha/api.js")
    +cssCommon("style.css")
    +jsCommon("jquery-1.11.1.min.js")
    +jsCommon("slick.min.js")
    +jsCommon("jquery.colorbox-min.js")
    +jsCommon("common.js")

  body.pageStores
    .l-wrapper
      include /_include/_header.pug
      h1.ttl  東日本橋店
      main.l-cont
        article.photoZone 
          ul 
            li: img(src="./img/ph01.jpg?202105")
            li: img(src="./img/ph02.jpg?202105")
            li: img(src="./img/ph03.jpg?202105")
            li: img(src="./img/ph04.jpg?202105")



        //article.featureZone 
          h2.ttl2  東日本橋店の特徴
          ul 
            li 
              .img
                img(src="https://dummyimage.com/600x400/000/fff" loading="lazy")
              p 特徴が入るテキストテキストテキストテキスト
            li 
              .img
                img(src="https://dummyimage.com/600x400/000/fff" loading="lazy")
              p 特徴が入るテキストテキストテキストテキスト
            li 
              .img
                img(src="https://dummyimage.com/600x400/000/fff" loading="lazy")
              p 特徴が入るテキストテキストテキストテキスト
            li 
              .img
                img(src="https://dummyimage.com/600x400/000/fff" loading="lazy")
              p 特徴が入るテキストテキストテキストテキスト


        article.outlineZone 
          h2.ttl2  ご利用案内
          .in
            dl
              dt  営業時間
              dd  平日9:00～22:00#[br]土日祝10:00～17:00　
            dl
              dt  定休日
              dd  第2土曜・第2日曜
            dl
              dt  住所
              dd  103-0001#[br]東京都中央区日本橋小伝馬町14-10 宮本ビル3階
            dl
              dt  アクセス
              dd  小伝馬町駅　徒歩2分#[br]馬喰町駅　徒歩２分#[br]馬喰横山駅　徒歩３分#[br]東日本橋駅　徒歩5分#[br]浅草橋駅　徒歩7分#[br]秋葉原駅　徒歩９分
            dl
              dt  設備・サービス
              dd  ​更衣室・トイレあり、無料マイシューズ保管、無料レンタルシューズ
            //img(src="./img/sche.png")


        .mapZone
          iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d103690.61861654076!2d139.780065!3d35.693451!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xab317f776a0c0d21!2zR09PRExJRkUgR1lNIOadseaXpeacrOapiw!5e0!3m2!1sja!2sjp!4v1617003160167!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy")


        article.storesZone#access
          include /_index_cont/_stores.pug



        article.contactZone
          include /_index_cont/_contact.pug





      include /_include/_footer.pug

