.pageAreaofodawara{
  .content_in{
    background: #ECECEC;
    padding: 75px 0;
    @include mq{
      padding: 5vw 0;
    }
    .inner{
      max-width: 1000px;
      margin: 0 auto;
      h2.tit{
        font-size: 4.5rem;
        font-weight: bold;
        text-align: center;
        color: #333333;
        @include mq{
          font-size: 3rem;
          line-height: 1.7;
        }
      }
      .next_ttl{
        font-size: 2.4rem;
        line-height: 1.7;
        text-align: center;
        margin-top: 30px;
        @include mq{
          font-size: 1.4rem;
          margin-top: 3vw;
        }
      }
      .ttl2{
        margin-top: 30px;
        color: #006fa4;
        @include mq{
          margin-top: 3vw;
        }
      }
      .list_store-tab{
        position: relative;
        margin-top: 30px;
        @include mq{
          margin-top: 8vw;
          padding: 0 8vw;
        }
        .name_str{
          position: absolute;
          font-size: 2.4rem;
          color: #007EA9;
          font-weight: bold;
          top: 30px;
          left: 38.8%;
          @include mq{
            position: static;
            border-bottom: 2px solid#007ea9;
            padding-bottom: 1vw;
            margin-bottom: 6vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::after{
              content: "";
              width: 3vw;
              height: 3vw;
              border-top: 2px solid#007ea9;
              border-right: 2px solid#007ea9;
              display: inline-block;
              transform: rotate(135deg);
            }
          }
          &.trans_ar{
            @include mq{
              &::after{
                transform: rotate(315deg);
              }
            }
          }
        }
        .box_in_w {
          display: flex;
          background: #fff;
          padding: 30px;
          border-radius: 10px;
          justify-content: space-between;
          @include mq{
            padding: 0;
            background: none;
            display: none;
          }
          &.show_ct{
            @include mq{
              display: block;
            }
          }
          .b_and_im{
            width: 34.7%;
            @include mq{
              width: 100%;
            }
            .but{
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 20px;
              @include mq{
                margin-top: 4vw;
              }
              a{
                display: flex;
                width: 48%;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-weight: bold;
                padding: 8px;
                box-sizing: border-box;
                border-radius: 100px;
                @include mq{
                  padding: 2vw;
                }
                &::before{
                  content: "";
                  width: 8px;
                  height: 8px;
                  display: inline-block;
                  margin-right: 10px;
                  border-top: 2px solid#fff;
                  border-right: 2px solid#fff;
                  transform: rotate(45deg);
                  @include mq{
                    width: 1.5vw;
                    height: 1.5vw;
                  }
                }
                &:nth-child(1){
                  background-color: #404040;
                }
                &:nth-child(2){
                  background-color: #0097B0;
                }
                &:hover{
                  opacity: .8;
                  transition: 0.3s;
                }
              }
            }
          }
          .in{
            width: 62%;
            margin-top: 40px;
            @include mq{
              width: 100%;
              margin-top: 5vw;
            }
            dl{
              display: flex;
              border-top: 1px dotted #CCCCCC;
              padding: 12px 0;
              font-size: 1.5rem;
              @include mq{
                display: block;
                padding: 2vw 0;
              }
              dt{
                width: 25%;
                color: #007EA9;
                @include mq{
                  width: 100%;
                }
              }
              dd{
                display: block;
                width: 75%;
                @include mq{
                  width: 100%;
                  margin-top: 1vw;
                }
                em{
                  color: red;
                  font-weight: bold;
                }
              }
              &:nth-child(1){
                border-top: 2px solid#007EA9;
                @include mq{
                  border-top: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .mapZone{
    div{
      overflow: hidden;
      display: inline-block;
      width: 100%;
      height: 600px;
      margin-bottom: -6px;
      @include mq{
        height: 90vw;
      }
      iframe.custom-google-map{
        width: 100%;
        height: 660px;
        position: relative;
        top: -60px;
        border: none;
        @include mq{
          top: -15vw;
          height: 105vw;
        }
      }
    }
  }
  .d_three{
    dl+dl{
      margin-top: 40px;
      @include mq{
        margin-top: 5vw;
      }
    }
  }
  .informationZone{
    h2{
      padding: 80px 0 1em 0;
      @include mq{
        padding: 1em;
      }
    }
  }
  .d_ses{
    background: #232323;
    .u-enTxt{
      color: rgba($color: #fff, $alpha: 0.1);
      top: 20px;
      @include mq{
        top: 2vw;
      }
    }
    .u-inner{
      max-width: 1000px;
      h2{
        font-size: 5.4rem;
        color: #fff;
        text-align: right;
        font-weight: bold;
        @include mq{
          font-size: 3rem;
          margin-top: 6vw;
        }
      }
      .fl_ss{
        display: flex;
        color: #fff;
        justify-content: space-between;
        margin-top: 50px;
        @include mq{
          display: block;
          margin-top: 8vw;
        }
        li{
          width: 45.5%;
          @include mq{
            width: 100%;
          }
          .cap{
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            margin: 25px 0 20px 0;
            @include mq{
              margin: 4vw 0 2vw 0;
            }
          }
          p{
            font-size: 1.6rem;
          }
          +li{
            @include mq{
              margin-top: 8vw;
            }
          }
        }
      }
    }
  }
}



