@charset "UTF-8";

/*--------------------------------------
 レイアウト
---------------------------------------*/
.l-wrapper {
}
.pageTop {
  .logo {
    opacity: 0;
  }
}
.pageStores {
  .l-header {
    position: static;
    width: 95%;

    margin: 20px auto;
    box-sizing: border-box;
    @include mq {
      display: block;
      flex-direction: column;

      margin: 0vw;
      .logo {
        padding: 3vw;
      }
      .spBtn {
        width: 10vw;
        height: 8vw;
        position: absolute;
        right: 5vw;
        top: 5vw;
        border-top: 1px solid #00b8ba;
        border-bottom: 1px solid #00b8ba;
        z-index: 999;
        &:after {
          content: "";
          display: block;
          position: absolute;
          height: 1px;
          width: 100%;
          top: 50%;
          left: 0px;
          background: #00b8ba;
        }
      }
      nav {
        &.show {
          display: flex;
        }
        display: none;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100vh;
        z-index: 99;
        background-color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
        .menu {
          display: block;
          text-align: center;
          margin-bottom: 2em;
          li{
            
            font-size: 2rem;
          }
          a {
            display: block;
            padding: .5em 0;
          }
        }
      }
    }
  }
}

.l-header {
  position: absolute;
  width: 100%;
  top: 10px;
  right: 20px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  @include mq {
    display: none;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul {
      display: flex;
      @include mq{
        flex-wrap: wrap;
        justify-content: center;
      }
      a:hover{
        opacity: .7;
      }
      &.menu {
        li {
          margin-right: 24px;
          text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
        }
        .child {
          display: none;
          position: absolute;
          top: 20px;
          left: -15px;
          background-color: rgba(255,255,255,.8);
          padding: 15px;
          box-sizing: border-box;
          z-index: 10;
          @include mq{
            display: block;
            position: static;
            padding: 0px;
          }
          ul{
            display: block;
            width: 200px;
            @include mq{
              display: flex;
              width: auto;
            }
            li{
              @include mq{
                margin: 0px;
                margin: 0 7px;
              }
              & + li{
                margin-top: 8px;
                @include mq{
                  margin-top: 0px;
                }
              }
            }
          }
        }
        .hasChild{
          position: relative;
          @include mq {
            span{
              display: none;
            }
          }
          &:hover{
            .child{

              display: block;
            }
          }
        }
      }
      &.sns {
        li {
          width: 28px;
          margin-right: 20px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.l-cont {
}

.l-pankz {
}

.fixBtn {
  position: fixed;
  right: 0px;
  bottom: 20px;
  z-index: 100;
  @include mq {
    bottom: 0px;
    left: 0px;
    right: auto;
    padding-bottom: env(safe-area-inset-bottom);
  }
}
.l-footer {
  background: $grade;
  .in {
    max-width: 95%;
    margin: 0 auto;
    padding: 2em 0;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.8;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq {
      display: block;
      text-align: center;
      font-size: 1.1rem;
    }
    .footLogo {
      width: 120px;
      margin-right: 20px;
      @include mq {
        width: 40vw;
        margin: 0 auto 5vw auto;
      }
    }
  }
}
.copyright {
  text-align: center;
  padding: 1em;
  font-size: 1.2rem;
  @include mq {
    padding-bottom: 20vw;
  }
}
