@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

@import "_config/reset";//リセット

//プラグイン
@import "_plugin/slick";
@import "_plugin/slick-theme";
@import "_plugin/animate";
@import "_plugin/colorbox";
sup{
    font-size: 60%
}

//共通
@import "layout";//全体的なレイアウト(ヘッダーとか)
@import "common";//パーツ(ボタンなど)

//コンテンツ別
@import "_index_cont/main";
@import "_index_cont/information";
@import "_index_cont/about";
@import "_index_cont/voice";
@import "_index_cont/trainer";
@import "_index_cont/price";
@import "_index_cont/stores";
@import "_index_cont/faq";
@import "_index_cont/note";
@import "_index_cont/contact";
@import "_index_cont/media";
@import "_page";
@import "_ex";
@import "_store";
@import "_areaofodawara";

@import "_plugin/class";//単独クラス
.box3d{
  text-align: center;
  padding-bottom: 50px;
  @include mq{
    iframe{
      width: 100%;
    }
  }
}
.linkTxt{
  text-decoration: underline;
  color: #0094af;
}
.pageTop{
    .mediaZone{
      .list{
        li:nth-child(n + 4){
            display: none;
        }
      }
    }
  }

.shopMov{
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
    iframe{
        width: 100%;
        height: 562px;
        @include mq{
            height:60vw;
        }
    }
}


.mt10{
  margin-top: 10px;
}
.fwB{
  font-weight: bold;
}

.di_blue{
  color: #0094af;
}
.one_more{
  text-align: center;
  p{
    margin: 50px 0;
    font-weight: bold;
    @include mq{
      margin: 5vw 0;
    }
  }
}
.d_more{
  display: block;
  font-size: 1.6rem;
  margin-top: 10px;
  color: red;
  text-align: center;
  margin-top: 20px;
  @include mq{
    font-size: 1.4rem;
    margin-top: 3vw;
  }
}

