@charset "UTF-8";

/*--------------------------------------
 cont1
---------------------------------------*/
article:not(.aboutZone) {
  //display: none;
}
.aboutZone {
  background-image: linear-gradient(to right, #006fa4 0%, #00b8ba 100%);
  padding-bottom: 0px;
  z-index: 2;
  @include mq{
    padding-bottom: 10vw;
  }
  .movieBox {
    iframe {
      width: 100%;
      height: 565px;
      @include mq{
        height: 60vw;
      }
    }
  }
  h2 {
    font-size: 3.6rem;
    font-weight: bold;
    color: #fff;
    margin: 0px 0 1.5em;
    @include mq{
      margin-bottom: 1em;
      font-size: 3rem;
      text-align: center;
    }
  }
  h3 {
    font-size: 3.4rem;
    font-weight: bold;
    color: #fff;
    @include mq{
      margin-bottom: 1em;
      font-size: 2.8rem;
      text-align: center;
    }
  }
  .mainBox{
    display: flex;
    justify-content: space-between;
    @include mq{
      display: block;
    }
    .img{
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      border-radius: 30px;
      width:47%;
      @include mq{
        width: 100%;
        margin-bottom: 3vw;
      }
    }
    .txt{
      width:48%;
      color: #FFF;
      line-height: 1.6;
      @include mq{
        width: 100%;
        text-align: left;
      }
      h3{
        font-size: 2rem;
        margin-bottom: 10px;
        @include mq{
          text-align: left;
        }
      }
    }
    .keizokuBox{
      position: relative;
      background-color: #0070a4;
      border-radius: 30px;
      padding: 1.5em;
      margin-top: 60px;
      @include mq{
        margin-top: 8vw;
      }
      h3{
        text-align: center;
        color: #f0ff00;
      }
      p{
        font-size: 1.5rem;
        padding: 0 1em;
      }
      .keizoku{

        position: absolute;
        left: -120px;
        top: -50px;
        @include mq{
          left: -2vw;
    top: -5vw;
    width: 23vw;
    height: 22vw;
        }
      }
    }
  }
  .aboutBox {
    padding-top: 120px;
    @include mq{
      padding-top: 10vw;
    }
    ul {
      .slides {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @include mq{
          display: block;
          margin-bottom: 5vw;
        }
        &.reverse {
          .txt {
            margin-left: auto;
          }
        }
        .movieBox2{
          background-color: #000;
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          iframe{
            width: 100%;
            height: 320px;
            @include mq{
              height: auto;
              height: 51vw;
            }
          }
          p{
            color: #FFF;
            margin-top: .5em;
            @include mq{
              font-size: 1.2rem;
              color: #FFF;
            }
          }
        }
        .img {
          border-radius: 20px;
          overflow: hidden;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          width: 47.5%;
          position: absolute;
          @include mq{
            width: 100%;
            position: static;
            margin-bottom: 5vw;
          }
          &.ph1 {
            height: 420px;
            right: 0px;
            top: -140px;
            @include mq{height: 60vw;}
            img {
              height: 100%;
              width: 100%;
            }
          }
          &.ph2{
            top: 0px;
          }
          &.ph3{
            top: -80px;
            right: 0px;
          }
          &.ph4{
            top: -30px;
            left: 0px;
            img{
              height: 400px;
              @include mq{
                height: 60vw;
              }
            }
          }
          img {
            object-fit: cover;
            width: 100%;
            @include mq{
              height: 60vw;
            }
          }
        }
        .txt {
          width: 48%;
          padding-bottom:120px ;
          &.s2{
            padding-bottom: 60px;
            @include mq{
              padding-bottom: 0px;
            }
          }
          &.last{
            padding-bottom: 80px;
            @include mq{
              padding-bottom: 0px;
            }
          }
          @include mq{
            width: 100%;
            padding-bottom: 0px;
          }
          h3 {
            margin: 1em 0 ;
            @include mq{
              margin:0 0  1em 0;
            }
            span {
              display: inline-block;
              font-size: 2.4rem;
              font-weight: bold;
              color: $green;
              background-color: #fff;
              line-height: 1;
              padding: 0.3em 0.5em;
              margin-bottom: 5px;
              @include mq{
                font-size: 2.2rem;
              }
            }
          }
          p {
            color: #fff;
            line-height: 1.8;
            br{
              display: none;
            }
          }
        }
      }
    }
  }
  .slick-dots{
    position: static;
  }
}
