@charset "UTF-8";

/*--------------------------------------
 contact
---------------------------------------*/
article:not(.contactZone) {
   // display: none;
}

.contactZone {
  position: relative;
  background-color: #EEE;
  padding: 100px 50px 90px;
  background-size: cover;
  &.index{
    &:before{
      height: 100%;
    }
  }

  @include mq {
    padding: 8vw 0vw;
  }
  .contactList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
      width: 32%;
      margin-bottom: 2%;
      @include mq{
        width: 48%;
      }
      a{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        min-height: 75px;
        background-color: #FFF;
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
        color: #00b8ba ;
        font-size: 2rem;
        font-weight: bold;
        @include mq{
          min-height: 50px;
          font-size: 14px;
          border-radius: 5px;
        }
        &:hover{
          opacity: .8;
        }
        &::after{
          content: "";
          display: inline-block;
          width: .5em;
          height: .5em;
          border-top: 2px solid #00b8ba;
          border-right: 2px solid #00b8ba;
          transform: rotate(45deg);
          margin-left: 10px;
        }

      }
    }
  }
  .dateBox{
    display: none;
    &.show{
      display: block;
    }
  }
  .u-enTxt{
    //right: 0px;
    //text-align: right;
  }

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 470px;
      background: $grade;
      background-size: cover;

      @include mq {
        height: 250px;
      }
    }

  .u-inner {
    max-width: 1000px;
  }

  .u-ttlBox1{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    color: #FFF;
    small{
      display: inline-block;
      border-bottom: 5px solid #ffd820;
      padding-bottom: 10px;
    }
  }
  .u-ttl1 {
    position: relative;
    color: #fff;
  }

  .u-lead1 {
    position: relative;
    padding: 2em;
    text-align: center;
    color: #fff;
    line-height: 1.8;

    @include mq {
      font-size: 13px;
      padding: 2em;
      text-align: left;

      br {
        display: none;
      }
    }
  }

  .areaBox {
    position: relative;
    background: #f4f4f4;
    padding: 1em em(24/16);
    line-height: 1.6;
    margin-bottom: 80px;

    @include mq {
      border-radius: 0px;
      padding: 2.5vw 5vw;
      margin-bottom: 0px;
    }

    dl {
      display: flex;

      dt {
        padding-right: 16px;

        @include mq {
          padding-right: 8px;
        }
      }

      dd {
        padding-left: 28px;
        border-left: 3px solid #969696;

        @include mq {
          padding-left: 14px;
        }
      }
    }
  }

  .formBox {
    position: relative;
    background: #FFF;
    border-radius: 15px;
    padding: 20px ;
    box-sizing: border-box;
    box-shadow: 15px 20px 20px 0px rgba(0, 0, 0, .1);
    border: 2px solid #FFF;
    .row{
      & + h3{
        margin-top: 20px;
      }
    }
    h3{
      background:#0073a5;
      padding: .5em;
      border-radius: 5px;
      color: #FFF;
      font-weight: bold;
    }
    button{
      margin: 15px auto;
      max-width: 400px;
      display: block;
    }
    @include mq {
      border-radius: 0px;
      padding: 5vw;
    }

    .formrun-system-show {
      color: tomato;
    }
  }

  .row {
    //border-bottom: 1px dotted #CCC;
    padding: 15px 10px;
    @include mq{
      padding: 15px 0;
    }
    &:nth-child(even){
      //background-color: #EEE;
    }

    ul{
      display: flex;
      flex-wrap: wrap;
      &.column{
        display: block;
      }
      @include mq{
        display: block;
      }
      li{
        margin-right: 15px;
        label{
          font-weight: normal;
          input{
            width: 1.2em;
            height: 1.2em;
            margin-right: .5em;
          }
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      padding-bottom: 5px;
      font-size: 16px;
      font-weight: bold;

      @include mq {
        font-size: 14px;
      }

      &.kojin {
        justify-content: center;
        align-items: center;
        padding: 15px 0;

        input {
          margin-right: 10px;
          width: 1.2em;
          height: 1.2em;
        }
      }

      .must {
        margin-left: 10px;
        background: #d9534f;
        color: #FFF;
        border-radius: 5px;
        display: inline-block;
        padding: .3em .5em;
        line-height: 1.4;
        font-size: 12px;
        font-weight: bold;
      }
    }

    input[type="text"],
    input[type="datetime-local"],
    
    textarea {
      display: block;
      border: 1px solid #d9d9d9;
      width: 100%;
      box-sizing: border-box;
      padding: .3em 1em;
      border-radius: 5px;
      background: #fff;
      font-weight: 100;

      @include mq {
        padding: .5em;
        font-size: 14px;
      }
    }

    textarea {
      height: 8em;
    }

  }

  .last_cb{
    margin: 10px 0 20px 0;
    text-align: center;
    @include mq{
      margin: 1vw 0 5vw 0;
    }
    label{
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1;
      @include mq{
        font-size: 1.5rem;
      }
      a{
        text-decoration: underline;
        &:hover{
          color: red;
          transition: 0.3s;
        }
      }
    }
    input{
      margin-right: 0.5em;
      width: 1.2em;
      height: 1.2em;
      position: relative;
      @include pc{
        bottom: 1px;
      }
      @include mq{
        bottom: 0.3vw;
      }
    }
  }

  .privacy {
    padding: 15px;
    border: 1px solid #CCC;
    border-radius: 5px;
    background: #FFF;
    overflow-y: scroll;
    margin-bottom: 25px;
    height: 100px;

    h3 {
      font-size: 14px;
      font-weight: bold;
    }

    p,
    ul {
      padding: 5px 0 0 0;
      font-size: 12px;
    }

    h4 {
      font-size: 12px;
      font-weight: bold;
      padding: 1.3em 0 .2em 0;
    }
  }

  .rowRcap {
    margin-bottom: 15px;
  }

  button {
    color: #FFF;
    width: 100%;
    background: #000;
    text-align: center;
    font-size: 2rem;
    border-radius: 8px;
    padding: .5em 0;
    cursor: pointer;

    @include mq {
      font-size: 18px;
    }

    &:disabled {
      pointer-events: none;
      background: #d6dde2;
    }


  }

  .center {
    text-align: center;
  }
  .companyBox{
    margin-top: 3em;
    color: #FFF;
    h3{
      font-size: 1.8rem;
      font-weight: bold;
    }
    dl{
      display: flex;
      flex-wrap: wrap;
      dt{
        width: 30%;
        margin-top: 10px;
      }
      dd{
        margin-top: 10px;
        width: 69%;
      }
    }
  }
}
