@charset "UTF-8";

/*--------------------------------------
 cont1
---------------------------------------*/
article:not(.faqZone) {
    //  display: none;
}
.faqZone {
    background-color: #eee;
    @include mq {
        padding-top: 15vw;
    }
    .u-enTxt {
        left: auto;
        right: 0px;
        top: -33px;
        opacity: 1;
        background-image: linear-gradient(to right, #0092af 0%, #00b8ba 100%);
        -webkit-background-clip: text; //テキストでくり抜く
        -webkit-text-fill-color: transparent; //くり抜いた部分は背景を表示
        line-height: 1;
        text-align: right;
        padding-left: 5px;
        @include mq {
            top: -10px;
        }
    }
    .u-ttl1 {
        color: $green;
    }
    dl {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 3px 5px 15px rgba(0, 161, 179, 0.2);
        margin-bottom: 1em;
        padding: 1.5em;
        dt {
            font-weight: bold;
            color: $green;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            @include mq{
                font-size: 1.6rem;
            }
            &:hover{
                opacity: .7;
            }
            &:after{
                content: "";
                width: .5em;
                height: .5em;
                display: inline-block;
                border-right: 2px solid $green;
                border-bottom: 2px solid $green;
                transform: rotate(45deg);
            }
            &.on{
                &:after{
                    transform: rotate(-135deg);
                }
            }
        }
        dd {
            margin-top: 1em;
            padding-top: 1em;
            line-height: 1.8;
            border-top: 1px solid $green;
            display: none;
        }
    }
}
