@charset "UTF-8";

/*--------------------------------------
 cont1
---------------------------------------*/
article:not(.cont1Zone) {
  //  display: none;
}

.priceZone {
  position: relative;
  background: #cafeff;
  .u-inner {
    max-width: 1200px;
  }

  @include mq {
    padding-top: 15vw;
  }

  .u-enTxt {
    position: absolute;
    right: 0px;
    left: auto;
    top: -3px;

    @include mq {
      top: vw(-1.5);
    }
  }

  .u-ttl1 {
    color: #00b0b8;

    @include mq {
      margin-bottom: 1em;

      @include mq {
        margin-bottom: 0.5em;
      }
    }

    & + p {
      color: #00b0b8;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  .planArea {
    margin-top: 45px;

    @include mq {
      margin-top: vw(45);
    }

    .tabName {
      display: flex;
      justify-content: space-between;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48%;
        font-size: 2.8rem;
        font-weight: bold;
        padding: em(16/28) 0;
        color: #00b2b8;
        border-radius: 36px;
        border: 2px solid #00b2b8;
        cursor: pointer;

        @include mq {
          font-size: 2.2rem;
          padding: em(12/22) 0;
        }

        &.is-selected {
          position: relative;
          color: #fff;
          border: none;
          background: #00b2b8;

          &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            left: 0;
            right: 0;
            bottom: -10px;
            margin: 0 auto;
            border-top: 10px solid #00b2b8;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;

            @include mq {
              bottom: vw(-10);
              border-top: vw(10) solid #00b2b8;
              border-left: vw(10) solid transparent;
              border-right: vw(10) solid transparent;
            }
          }
        }
      }
    }

    .planBox {
      margin-top: 45px;

      @include mq {
        margin-top: vw(25);
      }

      .tableBox {
        margin: 50px auto 0 auto;
        width: 98%;
        box-sizing: border-box;
        padding: 35px 25px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 10px 10px 15px rgba(0, 161, 179, 0.3);

        @include mq {
          margin-top: vw(45);
          padding: vw(30) vw(20);
          box-shadow: 5px 5px 8px rgba(0, 161, 179, 0.3);
        }

        table {
          width: 100%;
          box-sizing: border-box;

          tr {
            font-size: 1.8rem;
            font-weight: 600;

            @include mq {
              display: flex;
              font-size: 1.7rem;
              flex-direction: column;
            }

            th {
              width: 270px;
              box-sizing: border-box;
              color: #00b0b8;
              text-align: right;
              padding-right: 30px;

              @include mq {
                text-align: left;
                width: 100%;
                padding-right: 0;
              }
            }

            td {
              @include mq {
                width: 100%;
              }
              small {
                font-weight: normal;
                font-size: 80%;
              }

              .price {
              }

              em {
                color: #ff3636;
              }
            }

            &:first-of-type {
              th,
              td {
                padding-bottom: 1em;

                @include mq {
                  padding-bottom: 0.75em;
                }
              }

              th {
                padding-bottom: 0.5em;
              }
            }

            + tr {
              border-top: 1px dotted #00b0b8;

              th,
              td {
                padding-top: 1em;
                padding-bottom: 1em;
              }

              th {
                @include mq {
                  padding-bottom: 0.5em;
                }
              }

              td {
                @include mq {
                  padding-top: 0;
                  padding-bottom: 0.5em;
                }
                .notes {
                  font-size: 1.4rem;
                  padding-top: 0.2em;
                }
              }
            }

            &:last-of-type {
              th,
              td {
                padding-bottom: 0;
              }

              th {
                @include mq {
                  padding-bottom: 0.5em;
                }
              }
            }
          }
        }
      }
      .contWrap {
        display: none;

        ul.planList {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          @include mq {
            flex-direction: column;
          }

          li {
            width: 30%;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 30px 20px;
            margin: 0 1%;
            background: #fff;
            box-shadow: 10px 10px 15px rgba(0, 161, 179, 0.3);
            margin-top: 25px;
            @include mq {
              width: 100%;
              padding: vw(30) vw(20);
              box-shadow: 5px 5px 8px rgba(0, 161, 179, 0.3);
              margin-top: 0;
            }
            &.special {
              width: 100%;
              margin-top: 20px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              a{
                &:after{
                  content: "";
                  display: inline-block;
                  width: .5em;
                  height: .5em;
                  border-top: 2px solid #00b2b8;
                  border-right: 2px solid #00b2b8;
                  transform: rotate(45deg);
                  margin-left: 5px;
                                }
              }
              @include mq {
                display: block;
                text-align: center;
              }
              .spIcon {
                display: inline-block;
                background-color: #ff3636;
                font-weight: bold;
                color: #fff;
                font-size: 2rem;
                font-weight: normal;
                padding: 0.2em 0.8em;
                @include mq {
                  width: 48%;
                  box-sizing: border-box;
                  padding: 0.3em 0.1.5em;
                }
              }
            }

            & + li {
              @include mq {
                margin-top: vw(30);
              }
            }

            h3 {
              font-size: 2.2rem;
              text-align: center;
              color: #0099b0;
              font-weight: bold;
            }

            .monthly {
              display: block;
              font-size: 2rem;
              font-weight: 600;
              text-align: center;
              padding: 0.5em 0;

              @include mq {
                padding: vw(10) 0;
              }

              em {
                font-size: 3rem;
                color: #ff3636;
                padding-left: 0.1em;
              }
            }
            .lm_ic{
              text-align: center;
              background-color: #0099b0;
              color: #FFF;
              padding: 3px;
              font-size: 1.6rem;
              margin-bottom: 10px;
              @include mq{
                display: inline-block;
                position: absolute;
                font-size: 1.4rem;
                padding: 1vw 2vw;
              }
            }
            .note_store{
              font-size: 1.2rem;
              text-align: center;
            }
            .recommend {
              margin-top: 0.5em;
              font-size: 1.6rem;
              text-align: center;
              color: #00b2b8;
              font-weight: bold;
              padding: em(10/16);
              border: 1px solid #00b2b8;

              @include mq {
                font-size: 1.8rem;
              }

              & + .recommend {
                margin-top: 10px;

                @include mq {
                  margin-top: vw(10);
                }
              }
            }

            .note {
              display: block;
              margin-top: 20px;
              font-weight: 500;

              @include mq {
                margin-top: vw(20);
              }

              em {
                color: #ff3636;
              }
            }

            .tenpo {
              display: flex;
              flex-wrap: wrap;
              align-items: flex-start;
              @include mq {
                height: auto;
              }
              li {
                width: auto;
                height: auto;
                padding: 0.2em 0.3em;
                margin: 0px;
                box-shadow: none;
                border-radius: 0px;
                background-color: #ff3636;
                color: #fff;
                text-align: center;
                margin: 1% 1% 1% 1%;
                width: 48%;
                color: #FFF;
                font-size: 2rem;
                font-weight: bold;
              }
            }
          }
          &.top_li{
            li{
              width: 30%;
              @include mq{
                width: 100%;
              }
            }
          }
          &.prm_li{
            li{
              width: 48%;
              @include mq{
                width: 100%;
              }
            }
          }
        }
        .planNote {
          display: block;
          font-size: 1.4rem;
          text-align: center;
          font-weight: bold;
          margin-top: 20px;
        }

        &.is-active {
          display: block;
        }
      }
    }
  }
}
