@charset "UTF-8";

/*--------------------------------------
 cont1
---------------------------------------*/
article:not(.trainerZone) {
    //display: none;
}
.trainerZone {
  background: #232323;
  padding-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  @include mq{
    padding-bottom: 5vw;
  }
  &.isType2{
    padding: 80px 0;
    background-attachment: fixed;
    background: #fff;
    @include mq{
      background-size: cover;
      background-attachment:scroll;
      padding-top:0;
      padding-bottom: 10vw;
    }
  }
  .btnTrainer{
    display: flex;
        background-color: #fff363;
        color: #ff3636;
        text-align: center;
        padding: 1.2em 0;
        font-size: 2.4rem;
        margin-top: 1em;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        @include mq{
          font-size: 2.2rem;
        }
        &:hover{
          filter: brightness(1.2);
          transition: 0.3s;
        }
        &:after{
          content:"" ;
          display: inline-block;
          width: .5em;
          height: .5em;
          border-top: 2px solid #ff3636;
          border-right: 2px solid #ff3636;
          transform: rotate(45deg);
          margin-left: 10px;
        }
  }
  .specialZone{
    padding-top: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 40px;
  }
  .u-enTxt {
    color: #fff;
    top: -3px;
    position: static;
  }
  .u-ttl1 {
    color: #fff;
    text-align: center;
    width: auto;
    @include mq{
      padding-top: 9vw;
    }
    &.top_trainer{
      color: #00b0b8;
    }
  }
  .trainerBox{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &.box2{
      width: 90%;
      margin: 0 auto;
      display: block;
      min-width: 1000px;
      text-align: center;
      .col{
        display: inline-block;
        vertical-align: top;
        width: 48%;
        max-width: 470px;
        @include mq{
          width: 100%;
          max-width: 100%;
        }
      }
      @include mq{
        min-width: 0px;
        width: auto;
        margin: 0px 5vw;
      }
    }
    @include mq{
      display: inline-block;
    }
    .col{
      width: 48%;
      margin-bottom: 40px;
      margin: 0 1% 40px 1%;
      color: #FFF;
      @include mq{
        width: 100%;
        margin-bottom: 8vw;
        &.img{
          margin-bottom: 3vw;
        }
      }
      .ph{
        position: relative;
        .cov{
          position: absolute;
          left: 0px;
          top: 0px;
          animation: fadeIn 10s infinite both;
        }
      }
      .btn{
        display: flex;
        background-image: $grade;
        color: #FFF;
        text-align: center;
        padding: 1.2em;
        font-size: 1.8rem;
        margin-top: 1em;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        transition: .3s;
        &:hover{
          filter: brightness(1.2);
        }
        &:after{
          content:"" ;
          display: inline-block;
          width: .5em;
          height: .5em;
          border-top: 2px solid #FFF;
          border-right: 2px solid #FFF;
          transform: rotate(45deg);
          margin-left: 10px;
        }
      }
      img{
        margin-bottom: 5px;
        width: 470px;
        height: 320px;
        object-fit: contain;
        @include mq{
          width: 100%;
          height: auto;
        }
      }
      h3{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1em;
        span{
          font-size: 2.6rem;
        }
      }
      p{
        line-height: 1.8;
      }
    }
  }
  .trainerImg{
    display: flex;
    margin: 0 auto;
    @include mq{
      flex-direction: column;
    }
    .col{
      @include mq{
        margin: 5vw 5vw 0vw 5vw;
      }
    }
  }
}
.renew_2023{
  padding: 0 0 45px 0;
  .top{
    color: #FFF;
    text-align: center;
    background: #232323;
    .fist_im{
      img{
        width: 100%;
        height: auto;
      }
    }
    .big{
      font-size: 33px;
      font-weight: bold;
      line-height: (55/33);
      margin-top: 50px;
      @include mq{
        font-size: 30px;
        line-height: (47/30);
        margin-top: 7vw;
      }
    }
    p{
      font-size: 18px;
      line-height: 2;
      margin-top: 30px;
      @include mq{
        font-size: 16px;
        margin-top: 5vw;
        padding: 0 4vw;
        text-align: left;
        line-height: 1.7;
      }
    }
  }
  .education{
    background: #232323;
    padding: 85px 0;
    position: relative;
    @include mq{
      padding: 5vw 0;
    }
    &::before{
      content: "";
      width: 100%;
      height: 850px;
      clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 30%);
      background-color: #0075A5;
      display: block;
      position: absolute;
      top: 0;
      z-index: 0;
      @include mq{
        height: 75vh;
      }
    }
    .in_st{
      position: relative;
      z-index: 1;
      max-width: 1235px;
      margin: 0 auto;
      @include mq{
        max-width: none;
        width: auto;
        padding: 0 4vw;
      }
      .fl_it{
        display: flex;
        @include mq{
          display: block;
        }
        .img{
          width: 699px;
          height: auto;
          @include mq{
            width: auto;
            height: auto;
          }
        }
        .txt{
          margin-top: 111px;
          @include mq{
            margin-top: 5vw;
          }
          .t_txt{
            margin-left: -45px;
            @include mq{
              margin-left: 0;
              text-align: center;
            }
            .bor{
              display: inline-block;
              color: #0075A5;
              font-size: 34px;
              font-weight: bold;
              line-height: 1;
              padding: 7px 15px;
              background-color: #FFF;
              @include mq{
                font-size: 20px;
                padding: 1.5vw 3vw;
              }
            }
            .like_bor{
              display: inline-block;
              margin-top: 7px;
              display: block;
              color: #0075A5;
              font-size: 34px;
              font-weight: bold;
              line-height: 1;
              padding: 7px 15px;
              background-color: #FFF;
              @include mq{
                font-size: 20px;
                display: inline-block;
                padding: 1.5vw 3vw;
              }
            }
          }
          p{
            font-size: 18px;
            line-height: 2;
            color: #FFF;
            margin: 35px 0 0 45px;
            @include mq{
              font-size: 16px;
              text-align: left;
              margin: 5vw 0 0 0;
              line-height: 1.7;
            }
          }
        }
      }
      ul{
        display: flex;
        justify-content: space-between;
        margin-top: 62px;
        @include mq{
          margin-top: 5vw;
          flex-wrap: wrap;
        }
        li{
          width: 24%;
          @include mq{
            width: 48%;
          }
          &:nth-child(n+3){
            @include mq{
              margin-top: 3vw;
            }
          }
        }
      }
    }
  }
  .introduction{
    background: #232323;
    padding: 0 0 72px 0;
    @include mq{
      padding-bottom: 36px;
    }
    .ct{
      max-width: 1000px;
      margin: 0 auto;
      h2{
        text-align: center;
        font-size: 34px;
        font-weight: bold;
        color: #34A5D4;
        @include mq{
          font-size: 30px;
          padding: 1em 0;
        }
      }
      .box{
        margin-top: 30px;
        background: #fff;
        border-radius: 15px;
        padding: 55px;
        @include mq{
          width: 94%;
          box-sizing: border-box;
          margin: 0 auto;
          padding: 4vw;
        }
        ul{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li{
            width: 420px;
            @include mq{
              width: 100%;
              & + li{
                margin-top: 8vw;
              }
            }
            &:nth-child(n+3){
              margin-top: 40px;
            }
            h3{
              font-size: 19px;
              font-weight: bold;
              color: #0075A5;
              margin-top: 15px;
            }
            .next_ttl{
              font-size: 16px;
              color: #0075A5;
              margin-top: 5px;
              @include mq{
                font-size: 3.6vw;
              }
            }
            p{
              font-size: 14px;
              font-weight: bold;
              margin-top: 15px;
            }
            span{
              color: #222222;
              font-size: 14px;
              display: block;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
  .history{
    background: #fff;
    padding: 105px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mq{
      padding: 10vw;
      h2{
        width: 50vw;
      }
    }
    table{
      margin-top: 65px;
      @include mq{
        margin-top: 5vw;
      }
      tr{
        display: flex;
        align-items: flex-start;
        font-size: 22px;
        line-height: (35/22);
        margin-top: 15px;
        @include mq{
          font-size: 4.5vw;
          display: block;
        }
        th{
          width: 125px;
          @include mq{
            display: block;
            width: auto;
            text-align: center;
          }
        }
        td{
          margin-left: 30px;
          @include mq{
            display: block;
            text-align: center;
            margin: 0 0 10px 0;
            font-weight: bold;
          }
        }
      }
    }
  }
  .concept{
    padding: 100px 0;
    background: linear-gradient(90deg, rgba(0,116,166,1) 25%, rgba(0,180,185,1) 68%);
    @include mq{
      padding: 10vw ;
    }
    .concept_ct{
      max-width: 1120px;
      margin: 0 auto;
      @include mq{
        max-width: none;
        width: auto;
      }
      h2{
        text-align: center;
        @include mq{
          img{
            width: 50vw;
          }
        }
      }
      .next_t{
        font-size: 52px;
        font-weight: bold;
        text-align: center;
        color: #FFF;
        margin-top: 30px;
        @include mq{
          font-size: 8vw;
        }
      }
      .fl-new-im{
        display: flex;
        justify-content: space-between;
        margin-top: 54px;
        @include mq{
          margin-top: 8vw;
          display: block;
        }
        .im-this{
          width: 407px;
          @include mq{
            width: auto;
            margin-top: 7vw;
          }
        }
      }
      ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: #FFF;
        width: 676px;
        @include mq{
          width: auto;
        }
        li{
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          border: 1px solid#fff;
          width: 325px;
          justify-content: center;
          align-items: center;
          padding: 27px;
          @include mq{
            width: 100%;
            padding: 7vw;
            margin-bottom: 6vw;
          }
          p{
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
            line-height: 2;
            @include mq{
              font-size: 5vw;
            }
          }
          &:nth-child(3){
            flex-direction: row;
            width: 100%;
            margin-top: 25px;
            box-sizing: border-box;
            @include mq{
              margin: 0;
              flex-direction: column;
            }
            dl{
              margin-left: 45px;
              font-size: 16px;
              line-height: 2;
              font-weight: bold;
              @include mq{
                margin:4vw 0 0 0 ;
                font-size: 4vw;
                dt{
                  margin-bottom: 5vw;
                  text-align: center;
                  &:last-of-type{
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .bot{
    padding: 75px 0;
    @include mq{
      padding: 10vw;
    }
    p{
      font-weight: bold;
      font-size: 18px;
      line-height: (35/22);
      text-align: center;
      @include mq{
        font-size: 4vw;
      }
    }
    .img{
      width: 702px;
      height: auto;
      margin: 50px auto 0 auto;
      @include mq{
        width: 100%;
        margin: 5vw  auto;
      }
    }
  }
}
