@charset "UTF-8";

/*--------------------------------------
 cont1
---------------------------------------*/
article:not(.voiceZone) {
  //  display: none;
}
.voiceZone {
  background-image: url($p + "bg.png");
  background-position: center;
  background-size: cover;
  @include mq{
    padding-top: 15vw;
  }
  .u-enTxt {
    left: auto;
    right: 0px;
    top: -33px;
    opacity: 1;
    background-image: linear-gradient(to right, #0092af 0%, #00b8ba 100%);
    -webkit-background-clip: text; //テキストでくり抜く
    -webkit-text-fill-color: transparent; //くり抜いた部分は背景を表示
    line-height: 1;
    text-align: right;
    padding-left: 5px;
    @include mq{
      top: -10px;
    }
  }
  .u-ttl1 {
    color: $green;
    
  }
  p{
    font-size: 1.8rem;
    font-weight: 600;
    color: $green;
    em{
      background-color: $yellow;
    }
  }
  .voiceBox{
    padding-top: 40px;
    @include mq{
      padding-top: 24px;
    }
    @include mq{
      width: 90%;
      margin: 0 auto;
    }
    .slick-slide{
      max-width: 490px;
      margin: 0 20px;
      @include mq{
        max-width: 90vw;
        .img{
          width: 90vw;
        }
        img{
          width: 100%;
        }
      }
      p{
        font-size: 1.6rem;
        font-weight: normal;
        color: #222;
        text-align: center;
        padding-top: 1em;
        line-height: 1.8;;
      }
    }
    .slick-dots li.slick-active{
      background-color: $green;
      border-color: $green;
    }
  }
}
